<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color:#999; font-size:13px;">
  <tr>
    <td><div style="padding:20px;">
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color:#999; font-size:13px;">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; color:#999; font-size:12px;">
      <tr>
        <td><img src="images/logo.png" width="93" height="35"></td>
        <td align="center" style="  font-size:15px;">Your order was placed successfully.</td>
        <td align="right" style="color:#f47827; font-size:13px;">Order # 92349203202 </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div style="height:1px; background:#ddd;"></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Hello,  <b style="color:#333">Nitin</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Your order # 92349203202  was successfully placed. </td>
  </tr>
  <tr>
    <td>Please refer to the order details given below:</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial; color:#999; font-size:13px;">
      <tr>
        <td width="50%" valign="top">
        <table width="100%" border="1" cellspacing="0" cellpadding="10" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
          <tr>
            <td bgcolor="#f5f6f8" style="color:#000;">Billing Address :</td>
          </tr>
          <tr>
            <td height="100"> 
<p>  Nitin Kawale</p>
<p>203, Block C, Sunmill compound, 
Lower Parel, Mumbai 400 034.</p>
            </td>
          </tr>
        </table>
        <!--<table width="96%" border="1" cellspacing="0" cellpadding="10" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
          <tr>
            <td bgcolor="#f5f6f8" style="color:#000;">Arriving</td>
          </tr>
          <tr>
            <td height="100"><p>Thursday , 18 August</p>
              <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td><a href="" style="background:#34a851; color:#fff; font-size:12px; display:inline-block; padding: 6px; text-decoration: none;">Track your package</a></td>
                  <td><a href="" style="background:#dcdcdc; color:#000; font-size:12px; display:inline-block; padding: 6px; text-decoration: none;">View or Print Invoice</a></td>
                </tr>
              </table>
              </td>
          </tr>
        </table>--></td>
        <td valign="top"><table width="100%" border="1" cellspacing="0" cellpadding="10" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
          <tr>
            <td bgcolor="#f5f6f8" style="color:#000;">Your Package was sent to :</td>
          </tr>
          <tr>
            <td height="100"> 
<p>  Nitin Kawale</p>
<p> 203, Block C, Sunmill compound, 
Lower Parel, Mumbai 400 034.</p>
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="10" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
          <tr>
            <td bgcolor="#f5f6f8" style="color:#000;">Item Details</td>
          </tr>
          <tr>
            <td height="100" valign="top"><table width="100%" border="1" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
              <tr>
                <td width="80"><img src="images/product.png" width="80" height="80"></td>
                <td width="26%" align="center">Stethoscope</td>
                <td width="18%" align="center">Color: Black</td>
                <td width="17%" align="center">Quantity: 1</td>
                <td width="25%" align="center">Price : Rs. 3000</td>
              </tr>
            </table>   
            <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
              <tr>
                <td width="80"><img src="images/product.png" width="80" height="80"></td>
                <td width="26%" align="center">Stethoscope</td>
                <td width="18%" align="center">Color: Black</td>
                <td width="17%" align="center">Quantity: 1</td>
                <td width="25%" align="center">Price : Rs. 3000</td>
              </tr>
            </table>
            
            <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
              <tr>
                <td width="80"><img src="images/product.png" width="80" height="80"></td>
                <td width="26%" align="center">Stethoscope</td>
                <td width="18%" align="center">Color: Black</td>
                <td width="17%" align="center">Quantity: 1</td>
                <td width="25%" align="center">Price : Rs. 3000</td>
              </tr>
            </table>
                       <table width="100%" border="0" cellspacing="0" cellpadding="8" style=" margin-top:10px;  border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
              <tr>
                <td align="right">&nbsp;Item Subtotal :  <b style="color:#000;"> Rs. 3000</b></td>
              </tr>
              <tr>
                <td align="right">Shipping & Handling :  <b style="color:#000;"> Rs. 3000</b></td>
              </tr>
              <tr>
                <td align="right"> Total Value: <b style="color:#000;"> Rs. 3000</b></td>
              </tr>
               <tr>
                 <td align="right">Payment mode :    <b style="color:#000;"> COD</b></td>
              </tr>
              
            </table>     
            <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border-top:1px solid #ddd;">
        <tr>
          <td align="center"><a href="" style="background:#34a851; color:#fff; font-size:12px; display:inline-block; padding: 6px; margin-right:20px; text-decoration: none;">Track your package</a> <a href="" style="background:#dcdcdc; color:#000; font-size:12px; display:inline-block; padding: 6px; text-decoration: none;">View or Print Invoice</a></td>
        </tr>
      </table>
                  </td>
          </tr>
        </table>
      </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="font-size:16px">Thank you!</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
     <td height="1" bgcolor="#ddd" style="font-size:16px"> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; color:#999;">
      <tr>
        <td valign="top">For Queries:<br />
<br />
<table border="0" cellspacing="0" cellpadding="0" style="font-size:12px; color:#999;">
  <tr>
              <td width="18"><img src="images/call.png" width="14" height="14"></td>
              <td>+91 986300772 &nbsp;&nbsp; &nbsp;&nbsp;</td>
              <td width="20"><img src="images/mail.png" width="16" height="15"></td>
              <td><a href="mailto:customer_service@gmail.com" style="color:#999">customer_service@gmail.com</a></td>
            </tr>
        </table></td>
        <td width="160" valign="top">Follow Us:<br>
          <br>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="35"><a href="#"><img src="images/fb.png" width="28" height="28"></a></td>
              <td width="35"><a href="#"><img src="images/gmail.png" width="28" height="28"></a></td>
              <td width="35"><a href="#"><img src="images/tweet.png" width="28" height="28"></a></td>
              <td width="35"><a href="#"><img src="images/insta.png" width="28" height="28"></a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td valign="middle"></td>
  </tr>
</table>
    
    </div></td>
  </tr>
</table>

