<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color:#999; font-size:14px;">
  <tr>
    <td><div style="padding:20px;">
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; color:#999; font-size:14px;">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; color:#999; font-size:14px;">
      <tr>
        <td><img src="images/logo.png" width="93" height="35"></td>
        <td align="right" style="  font-size:15px;"><strong>Clinito welcomes you on-board</strong>.</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div style="height:1px; background:#ddd;"></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Hello,  <b style="color:#333">Nitin</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Welcome to clinito.com </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>An online marketplace for medical and other healthcare products.</td>
  </tr>
  <tr>
    <td>You  can now shop for branded and durable healthcare products at great rates.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">{ Banner }</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><a href="" style="background:#34a851; color:#fff; font-size:12px; display:inline-block; padding: 6px;   text-decoration: none;">SHOP NOW</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="10" style="border:1px solid #ddd; border-collapse:collapse;font-family:Arial; color:#999; font-size:13px;">
          <tr>
            <td bgcolor="#f5f6f8" style="color:#000;">Your login details are as follows</td>
          </tr>
          <tr>
            <td height="100"> 
<p><b>Username</b> : <b style="color:#333">abc</b> </p>
<p><b>Password</b> : <b style="color:#333">abc</b> </p>
            </td>
          </tr>
        </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="font-size:16px">Thank you!</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="1" bgcolor="#ddd" style="font-size:16px"> </td>
  </tr>
  <tr>
    <td style="font-size:16px">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; color:#999;">
      <tr>
        <td valign="top">For Queries:<br>
          <br>
          <table border="0" cellspacing="0" cellpadding="0" style="font-size:12px; color:#999;">
            <tr>
              <td width="18"><img src="images/call.png" width="14" height="14"></td>
              <td>+91 986300772 &nbsp;&nbsp; &nbsp;&nbsp;</td>
              <td width="20"><img src="images/mail.png" width="16" height="15"></td>
              <td><a href="mailto:customer_service@gmail.com" style="color:#999">customer_service@gmail.com</a></td>
              </tr>
            </table></td>
        <td width="160" valign="top">Follow Us:<br>
          <br>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="35"><a href="#"><img src="images/fb.png" width="28" height="28"></a></td>
              <td width="35"><a href="#"><img src="images/gmail.png" width="28" height="28"></a></td>
              <td width="35"><a href="#"><img src="images/tweet.png" width="28" height="28"></a></td>
              <td width="35"><a href="#"><img src="images/insta.png" width="28" height="28"></a></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td valign="middle"></td>
  </tr>
</table>
    
    </div></td>
  </tr>
</table>

