@charset "utf-8";
/* CSS Document */
.darkbluebtn{background:#175594; color:#fff;}
.darkbluebtn:hover{background:#124a82; color:#fff;}

.greenbtn{background:#34a853; color:#fff;}
.greenbtn:hover,.greenbtn:active,.greenbtn:focus { background:#1b8136; color:#fff; }

.pinkbtn{background:#ffebb6; color:#000; border:1px solid #fac163;}
.pinkbtn:hover,.pinkbtn:active,.pinkbtn:focus { background:#ecd9a6; color:#000; }

.bluedarkbtn{background:#0099ff; color:#fff;}
.bluedarkbtn:hover,.bluedarkbtn:active,.bluedarkbtn:focus { background:#0568a9; color:#fff; }

.whitebtn{background:#fff; color:#999; border:1px solid #999;}
.whitebtn:hover,.whitebtn:active,.whitebtn:focus { background:#f4f4f4; color:#999; }

.bg-default{background-color:#f5f6f8;}
h1, h2, h3, h4, h5, h6{font-family:"Roboto";}
.mb30{margin-bottom:30px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.rbrd{border-right:1px solid #ccc;}
/*-------Home Page Top Category Navigation------*/
.categorieslink {
	height: 100%;
	background-color: #fff;
}
.categorieslink .menu-container {
	position: relative;
	height: 100%;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}
/*----- Mobile Menu Navigation ------*/
@media (max-width:767px){
	#topNavmain.affix .logo {
		margin-top: 13px;
		margin-left: 25px;
	}
	.logo {
		margin-left: 25px;
	}
}
#navbar2{
	position:absolute;
	top:14px;
	z-index:999999;
	background-color:transparent;
	border:none;
}
#navbar2 .navbar-header {
	float: none;
}
#navbar2 .btn-clean{
	padding:5px;
	border:1px solid transparent;
	background-color:transparent;
	font-size:22px;
}
#navbar2 .btn-link{
	padding-top:5px;
	padding-bottom:5px;
}
#navbar2 .navbar-toggle {
	display: block;
}
#navbar2 .navbar-nav {
	float: none !important;
	margin: 0px -15px;
}
#navbar2 .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	background-color: #fff;
	border: 0;
	box-shadow: none;
	margin:0px;
	padding:0px;
}
#navbar2 .navbar-nav .open .dropdown-menu li{
	padding:5px 15px;
	border-bottom:1px solid #d4d4d4;
}
#navbar2 .navbar-form {
	float: none !important;
	padding: 0;
}
#navbar2 .navbar-collapse {
	position: fixed;
	top: 0;
	left: -100%;
	display: block;
	width: 100%;
	height: 100% !important;
	margin: 0;
	background-color: #fff;
	transition: left 0.35s ease;
	z-index:99999;
}
#navbar2 .navbar-collapse .navbar-nav{
	padding-top:0px;
}
#navbar2 .navbar-nav > li > a {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	padding:10px 15px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#navbar2 .navbar-nav > li > a:hover, #navbar2 .navbar-nav > li > a:focus{
	background-color:#3b658c;
	color:#fff;
}
#navbar2 .navbar-collapse.collapsing {
	transition: left 0.35s ease;
}
#navbar2 .navbar-collapse.in {
	left: 0;
}
#navbar2 .navbar-nav>li {
	float: none;
	border-bottom:1px solid #ddd;
}
#navbar2 .navbar-nav>li.selectColor{
	background-color:#ff7403;
}
#navbar2 .navigation p {
	padding:8px 15px;
	background-color:#ddd;
	margin:0 -15px;
}
#navbar2 .dropdown ul.dropdown-menu::after{
	content: "";
	border-bottom: 0px solid #ddd;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 0;
}
#navbar2 .dropdown ul.dropdown-menu::before {
    content: "";
    border-bottom: 0px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
}
/*-------Reposition elements affected by the sliding menu--------*/
#wrapper {
	position: relative;
	left: 0;
	transition: left 0.35s ease;
}
body.menu-slider.in {
	overflow: hidden;
}
body.menu-slider #wrapper {
	transition: left 0.35s ease;
}
body.menu-slider.in #wrapper {
	left: 100%;
}
/*--- end ----*/
/*----First Level------*/
.categorieslink .menu-container ul.top-Menu {
	height: 100%;
}
.categorieslink .menu-container ul.top-Menu {
	list-style: none;
	text-align: left;
	width: 100%;
	padding: 0px;
	margin: 0px 0 0 0;
	height: 390px;
}
.categorieslink .menu-container ul.top-Menu li {
	border-bottom: 1px solid #f5f5f5;
}
.categorieslink .menu-container ul.top-Menu li a {
	color: #000;
	display: block;
	width: 100%;
	padding: 9.5px 25px 10px 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.categorieslink .menu-container ul.top-Menu li a span {
	color: #ff9742;
}
.menu-container > ul.top-Menu > li:hover > a {
	background-color: #f6f6f6;
	color: #ff7403;
}
/*----Second Level------*/
.menu-container > ul.top-Menu > li > ul {
	display: none;
	position: absolute;
	right: -200px;
	top: 0px;
	width: 200px;
	background-color: #f6f6f6;
	list-style: none;
	padding: 5px 0 0px 5px;
	z-index: 99;
	height: 394px;
	font-size: 13px;
}
.menu-container > ul.top-Menu > li:hover > ul {
	display: block;
}
.categorieslink .menu-container ul.top-Menu li ul li {
	border-bottom: 1px solid #ECECEC;
}
.categorieslink .menu-container ul.top-Menu li ul li a {
	color: #000;
	display: block;
	width: 100%;
	padding: 9px 25px 7px 9px;
}
.menu-container > ul.top-Menu > li ul li:hover > a {
	background-color: #fff;
	color: #ff7403;
}
/*----Third Level------*/
.menu-container > ul.top-Menu > li > ul > li > ul {
	display: none;
	position: absolute;
	right: -200px;
	top: 0;
	width: 200px;
	background-color: #fff;
	list-style: none;
	padding: 5px 0 0px 5px;
	z-index: 99;
	height: 394px;
}
.menu-container > ul.top-Menu > li > ul > li:hover > ul {
	display: block;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li {
	border-bottom: 1px solid #f5f5f5;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li a {
	color: #000;
	display: block;
	width: 100%;
	padding: 8px 25px 7px 9px;
}
.menu-container > ul.top-Menu > li ul li ul li:hover > a {
	background-color: #f6f6f6;
	color: #ff7403;
}
/*----Fourth Level------*/
.menu-container > ul.top-Menu > li > ul > li > ul > li > ul {
	display: none;
	position: absolute;
	right: -200px;
	top: 0;
	width: 200px;
	background-color: #fff;
	list-style: none;
	padding: 5px 0 0px 5px;
	z-index: 99;
	height: 394px;
}
.menu-container > ul.top-Menu > li > ul > li > ul > li:hover > ul {
	display: block;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li ul li {
	border-bottom: 1px solid #f5f5f5;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li ul li a {
	color: #000;
	display: block;
	width: 100%;
	padding: 8px 25px 8px 9px;
}
.menu-container > ul.top-Menu > li ul li ul li ul li:hover > a {
	background-color: #f6f6f6;
	color: #ff7403;
}
/*----Fifth Level------*/
.menu-container > ul.top-Menu > li > ul > li > ul > li > ul > li > ul {
	display: none;
	position: absolute;
	right: -220px;
	top: 0;
	width: 220px;
	background-color: #fff;
	list-style: none;
	padding: 6px 0 5px 25px;
	z-index: 99;
	height: 394px;
}
.menu-container > ul.top-Menu > li > ul > li > ul > li > ul > li:hover > ul {
	display: block;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li ul li ul li {
	border-bottom: 1px solid transparent;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li ul li ul li a {
	color: #000;
	display: block;
	width: 100%;
	padding: 1px 3px;
}
.menu-container > ul.top-Menu > li ul li ul li ul li ul li:hover > a {
	background-color: transparent;
	color: #3b658c;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li ul li ul li h4 {
	color: #ff7403;
	font-size: 16px;
}
.categorieslink .menu-container ul.top-Menu li ul li ul li ul li ul li ul {
	list-style: none;
	/*	padding-left:15px;*/
	margin-bottom: 5px;
}
#more, .seeAlllink a:first-child {
	text-decoration: underline;
	color: #3399ff;
}
.seeAlllink a:hover {
	color: #000!important
}
.seeAlllink {
	text-align: right;
	padding-right: 5px;
}
.seeAlllink:hover a {
	background: none!important
}
#more {
}
#more:hover {
	background: transparent
}
.form-control {
	border-radius: 0px;
}
/*-------End Home Page Top Category Navigation------*/
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
input[type="checkbox"], input[type="radio"] {
	margin: -2px 8px 0;
	line-height: normal;
	color: #000;
}
/*------Checkout Pages 1. Shopping Cart ------*/
#checkoutBox {
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
}
.nav-box {
	padding: 0.6em;
	border-bottom: 1px solid #d6d6d6;
	border-top: 1px solid #d6d6d6;
	margin: 1em;
}
.nav-box h4 {
	color: #ccc;
}
ul.checkoutNav {
	width: 100%;
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}
ul.checkoutNav li {
	display: inline-block;
	padding-right: 10px;
}
ul.checkoutNav li + li {
	padding: 0 20px 0 10px;
}
.nav-box .iconbox {
	width: 35px;
	height: 35px;
	border: 1px solid #cccccc;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	line-height: 32px;
	text-align: center;
	background: #cccccc;
	margin-right: 15px;
	font-size: 15px;
}
ul.checkoutNav li.active .iconbox {
	background: #ff7403;
	border: 1px solid #ff7403;
	color: #fff;
}
ul.checkoutNav li.active h4 {
	color: #000;
	font-weight: bold;
}
.nav-box1 {
	padding: 0 0.6em;
	margin: 25px 1em;
}
.nav-box1 h4 {
	font-weight: bold;
}
.nav-box1 label {
	font-size: 14px;
	font-weight: 400;
	padding: 0px 0 0 0px;
}
.nav-box1 label.form_text {
	font-size: 14px;
	font-weight: 600;
	padding: 8px 0 0 0px;
}
.nav-box1 .form-control {
	padding: 8px 12px;
	border-radius: 0px;
	height: 38px;
}
.nav-box1 .btn {
	border-radius: 0px;
	width: 70px;
	height: 38px;
	font-size:13px;
}
.nav-box1 .btn3 {
	border-radius: 0px;
	width: 100px;
	height: 38px;
	font-size:13px;
}
.nav-box2 .btn {
	border-radius: 0px;
}
.nav-box1 .btn2 {
	display: inline-block;
	margin-bottom: 10px;
	padding: 8px 12px;
	border-radius: 0px;
	height: 45px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}
.nav-box1 .btn3 {
	display: inline-block;
	margin-bottom: 10px;
	padding: 8px 12px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}
.nav-box1 .grid1 {
	width: 25%;
	float: left;
}
.nav-box1 .grid2_1 {
	width: 75%;
	float: left;
}
.btn-success i {
	font-size: 12px;
}
.nav-box1 .box-heading {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	height: 70px;
	padding-top: 10px;
	background-color: #f4f6f8;
	color: #3a3a3a;
}
.nav-box1 .box-heading-inner {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
	padding: 0px 0;
	background-color: #fff;
	color: #000;
	height: 133px;
}
.nav-box1 .box-heading h4 {
	font-size: 16px;
	font-weight: bold;
}
.nav-box1 .item-image {
	width: 10%;
	float: left;
}
.nav-box1 .item-name {
	width: 35%;
	float: left;
}
.nav-box1 .item-qty {
	width: 20%;
	float: left;
	text-align: left;
}
.nav-box1 .item-qty .form-control {
	width: 65px;
	height: 30px;
	padding: 0px;
}
.nav-box1 .item-qty .quantitywrap .qty {
    width: 35px;
    height: 20px;
    text-align: center;
    border: none;
    font-size: 15px;
    color: #000;
}
.nav-box1 .item-qty .quantitywrap input.qtyminus, .nav-box1 .item-qty .quantitywrap input.qtyplus {
    width: 25px;
    height: 25px;
    font-size: 25px;
	background-color:#f4f6f8;
}
.nav-box1 .item-date {
	width: 18%;
	float: left;
	text-align: left;
}
.nav-box1 .item-price {
	width: 17%;
	float: left;
	text-align: left;
}
.nav-box1 .item-total {
	width: 15%;
	float: left;
	text-align: left;
}
.nav-box1 .item-action {
	width: 3%;
	float: left;
	text-align: center;
}
.nav-box1 .box-heading-inner .item-action{
	height: 133px;
	line-height:100px;
	vertical-align:middle;
	border-left:1px solid #ccc;
}
.nav-box1 .item-image img {
	width: 50px;
	border: 1px solid #e9e9e9;
	margin-left: 10px;
}
.nav-box1 .item-name h5 {
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 10px;
	padding-right: 10px;
}
.nav-box1 .item-name p {
	color: #8B8B8B;
	font-size: 13px;
}
.nav-box1 .item-name p strong {
	text-transform: capitalize;
	font-size: 15px;
}
.item-qty .form-control {
	border-radius: 0px;
}
.nav-box1 .item-action ul {
	list-style: none;
	padding: 0px;
}
.nav-box1 .item-action ul li {
	display: inline;
	padding:0 4px;
}
.nav-box1 .order-part, .nav-box1 .order-part-footer {
	padding-left: 0px;
}
.nav-box1 .box-heading-inner-order {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	background-color: #fafafa;
	color: #000;
	margin-bottom: 1em;
}
.box-heading-inner-order .coupon h4 {
	font-size: 14px;
	font-weight: normal;
	margin:0px;
}
.box-heading-inner-order .coupon .alert {
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0px;
}
.box-heading-inner-order .coupon .alert strong{
	font-size:14px;
}
.box-heading-inner-order h4 {
	font-size: 14px;
	font-weight: normal;
}
.box-heading-inner-order h3 {
	font-size: 19px;
}
.box-heading-inner-order h4 span.red {
	color: #f00;
}
.box-heading-inner-order .table > tbody > tr > td {
	padding: 3px 8px;
	border: 1px solid transparent;
}
.box-heading-inner-order .coupon > tbody > tr > td {
	padding: 10px 5px;
	border: 1px solid transparent;
}
.box-heading-inner-order .coupon > tbody > tr > td span.price {
	font-size: 17px;
}
.box-heading-inner-order .coupon > tbody > tr > td span.msg {
	font-size: 10.5px;
}
.box-heading-inner-order .table-striped > tbody > tr > td {
	border-top: 1px solid #ccc;
	padding: 0px 8px;
}
.box-heading-inner-order .table-striped > tbody > tr > td > .btn {
	width: 100px;
}
.help-box1 > .table > tbody > tr > td {
	border-top: 1px solid #fff;
	padding: 8px 0;
}
.nav-box1 .box-heading-footer {
	width: 100%;
	position: relative;
	float: left;
	padding: 10px 0;
	background-color: #fff;
	color: #000;
	margin: 10px 0;
}
.table {
	margin: 0px;
}
.help-box {
	padding: 0em 8px 1px;
}
.help-box h4 {
	display: block;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	font-weight: bold;
}
.help-box hr {
	margin: 10px 0;
	border-color: #cccccb;
}
.help-box p {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}
.help-box1 a {
	color: #48a0fc;
}
.help-box a {
	color: #48a0fc;
}
.help-box ul li {
	padding: 6px 18px;
	background: url(../images/policy-arrow.jpg) no-repeat left center;
}
.coupon-box {
	padding: 1em 0;
}
.coupon-box .form-group {
	margin-left: -45px;
}
.btn-apply {
	padding: 8px 20px;
}
.nav-box2 {
	padding: 0 0.6em;
	margin: 4em;
}
.nav-box2 .btn {
	color: #fff;
	font-size: 15px;
	padding: 8px 25px;
	height: 44px;
	font-weight: bold;
}
.nav-box1 .box-heading-footer h4 {
	font-size: 20px;
	font-weight: bold;
}
.nav-box1 .btn-proceed {
	background-color: #ff8400;
	color: #fff;
	font-size: 15px;
	padding: 8px 25px;
	height: 44px;
	font-weight: bold;
}
.padding-mobile h3, .order-part h3 {
	font-size: 19px;
	font-weight: bold;
}

@media all and (max-width: 1024px) and (min-width: 800px) {
ul.checkoutNav li + li {
	padding: 0 15px 0 0px;
}
.box-heading-inner-order h4 {
	font-size: 13px;
}
.box-heading-inner-order h3 {
	font-size: 14px;
}
.box-heading-inner-order h4 span.red {
	color: #f00;
}
.nav-box1 .grid1 {
	width: 25%;
	float: left;
}
.nav-box1 .btn {
	border-radius: 0px;
	width: 50px;
	font-size: 10px;
	padding: 10px 6px;
}
.box-heading-inner-order .coupon > tbody > tr > td span.price {
	font-size: 15px;
}
.box-heading-inner-order .coupon > tbody > tr > td span.msg {
	font-size: 12px;
}
.nav-box1 label {
	font-size: 12px;
	font-weight: 400;
	padding: 0px;
}
}

@media (max-width:768px) {
.nav-box h4 {
	color: #ccc;
	font-size: 13px;
}
.nav-box .iconbox {
	width: 25px;
	height: 25px;
	border: 1px solid #cccccc;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	line-height: 25px;
	text-align: center;
	background: #cccccc;
	margin-right: 5px;
	font-size: 12px;
}
ul.checkoutNav li {
	display: inline-block;
	padding-right: 5px;
}
ul.checkoutNav li + li {
	padding: 0 5px 0 5px;
}
.nav-box1 .grid1 {
	width: 30%;
	float: left;
}
.nav-box1 .grid2_1 {
	width: 70%;
	float: left;
}
.nav-box1 .order-part {
	padding-left: 15px;
}
}

@media (max-width:640px) {
.nav-box1 {
	padding: 0px;
	margin: 0px;
}
.nav-box1 .padding-mobile {
	padding: 0px;
}
ul.checkoutNav li + li {
	padding: 0 0px 0 0px;
}
ul.checkoutNav li img {
	width: 15px;
}
.nav-box1 .grid1 {
	width: 100%;
	float: left;
}
.nav-box1 .grid2_1 {
	width: 100%;
	float: left;
}
.nav-box1 .box-heading-inner {
	padding: 20px 8px;
}
.nav-box1 .box-heading-inner label {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 0px;
	color: #ff7403;
}
.nav-box1 .item-image {
	width: 30%;
	float: left;
}
.nav-box1 .item-name {
	width: 70%;
	float: left;
}
.nav-box1 .item-name p strong {
	font-size: 18px;
}
.nav-box1 .item-qty {
	width: 50%;
	float: left;
	text-align: center;
}
.nav-box1 .item-qty .form-control {
	width: 100%;
}
.nav-box1 .item-date {
	width: 50%;
	float: left;
	text-align: center;
}
.nav-box1 .item-date p {
	padding: 10px 12px;
}
.nav-box1 .item-price {
	width: 35%;
	float: left;
	text-align: center;
}
.nav-box1 .item-total {
	width: 35%;
	float: left;
	text-align: center;
}
.nav-box1 .item-action {
	width: 30%;
	float: left;
	text-align: center;
	padding-top: 13px;
}
}
/*------Checkout Pages 2. Your Details ------*/
.nav-box-second {
	padding: 0em 0em 1em;
	margin: 0 1em;
}
.nav-box-second label {
	padding-right: 5px;
	font-weight:400;
}
.nav-box-second .form-control {
	padding: 8px 12px;
	border-radius: 0px;
	height: 38px;
}
.nav-box-second .order-part .btn {
	border-radius: 0px;
	height: 38px;
	width: 70px;
	font-size:13px;
}
.nav-box-second .btn2 {
	display: inline-block;
	margin-bottom: 10px;
	padding: 8px 12px;
	border-radius: 0px;
	height: 45px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}
.nav-box-second .box-heading {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	height: 70px;
	padding-top: -5px;
	background-color: #f4f6f8;
	color: #3a3a3a;
}
.nav-box-second .detail-box {
	padding: 0px 15px;
	position: relative;
}
.nav-box-second .detail-box .details {
	position: relative;
}
.nav-box-second .detail-box .details .editDeleteBlock {
	position: absolute;
	top: 5px;
	right: 7px;
}
.nav-box-second .detail-box .editDeleteBlock ul li {
	display: inline;
	padding-right: 2px;
}
.nav-box-second .detail-box .details .checkbox-inline{
	margin-top:5px;
}
.nav-box-second .box-heading h4 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
}
.nav-box-second .detail-box h4 {
	padding: 0px 6px 0px 20px;
	background-color: #f5f6f8;
	font-size: 14px;
	margin: 0px;
	border: 1px solid #ccc;
	font-weight: normal;
	line-height: 45px;
}
.nav-box-second .detail-box h4 a{
	font-size: 12px;
	color: #3b99fc;
	font-weight:100;
}
.nav-box-second .detail-box h4 span {
	margin-top: -1px;
}
.nav-box-second .detail-box label {
	padding: 10px 0px 0px 10px;
}
.nav-box-second .details {
	padding: 5px 20px 15px 20px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.nav-box-second .details p.namehead {
	font-size: 18px;
	margin-bottom: 0px;
	line-height: 25px;
	font-weight:500;
}
.nav-box-second .details p {
	font-size: 13px;
	margin-bottom: 0px;
	line-height: 25px;
}
.nav-box-second .detail-box .btn {
	margin: 0px;
	padding: 0px 9px;
	height: 31px;
	width: 65px;
	font-size: 13px;
}
.nav-box-second .detail-box .btn .glyphicon {
	margin-right: 0px;
}
.nav-box-second .box-heading-details {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	height: 64px;
	padding-top: 10px;
	margin: 20px 0;
}
.nav-box-second .box-heading-details p {
	font-size: 14px;
	color: #000;
	margin-bottom: 0;
	margin-top: 10px;
}
.nav-box-second .box-heading-details span.grey {
	font-size: 12px;
	color: #999;
}
.nav-box-second .block-label {
	padding-top: 10px;
}
.checkbox-inline {
	font-size: 12px;
	color: #000;
}
.nav-box-second .box-heading-inner {
	width: 100%;
	position: relative;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	padding: 0px 0;
	background-color: #fff;
	color: #000;
}
.nav-box-second .item-image {
	width: 9%;
	float: left;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-name {
	width: 18%;
	float: left;
	padding: 20px 0 0 7px;
	display: block;
	height: 100%;
}
.nav-box-second .item-qty {
	width: 6%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-date {
	width: 13%;
	float: left;
	text-align: center;
	display: block;
	height: 100%;
	padding: 20px 0;
}
.nav-box-second .firstBlock {
	float: left;
	width: 60%;
	display: block;
	height: auto;
}
.nav-box-second .secondBlockOuter {
	float: left;
	width: 40%;
	display: block;
	height: auto;
}
.nav-box-second .secondBlock {
	float: left;
	width: 100%;
	display: block;
	border-left: 1px solid #ccc;
	height: 80px;
}
.nav-box-second .border-top {
	border-top: 1px solid #ccc;
}
.nav-box-second .item-b_add {
	width: 27%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-s_add {
	width:20%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-dev_qty {
	width: 15%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-ship_charge {
	width: 13%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-close {
	width: 5%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
/*------- Blocks for Product list--------*/
.firstBlock .item-image {
	width: 15%;
	float: left;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.firstBlock .item-name {
	width: 28%;
	float: left;
	padding: 20px 0 0 5px;
	display: block;
	height: 100%;
}
.firstBlock .item-name h5 {
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 10px;
}
.firstBlock .item-name p {
	color: #8B8B8B;
	font-size: 13px;
}
.firstBlock .item-qty {
	width: 15%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.firstBlock .item-date {
	width: 20%;
	float: left;
	text-align: left;
	display: block;
	height: 100%;
	padding: 20px 0;
}
.firstBlock .item-b_add {
	width: 20%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-s_add {
	width: 49%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-b_add p {
	font-size: 13px;
	margin-bottom: 5px;
}
.secondBlock .item-s_add p {
	font-size: 13px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.secondBlock .item-b_add a, .secondBlock .item-s_add a {
	font-size: 12px;
	margin-bottom: 5px;
	color: #3b99fc;
}
.secondBlock .item-dev_qty {
	width: 40%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-dev_qty .form-control {
	width: 80%;
	border-radius: 0px;
	text-align: center;
	margin-left: 10px;
	height: 30px;
	padding: 0px;
}
.secondBlock .item-dev_qty .quantitywrap {
    width: 95px;
	 margin:0 auto;
}
.secondBlock .item-dev_qty .quantitywrap .qty {
    width: 30px;
    height: 25px;
    text-align: center;
    border: none;
    font-size: 16px;
    color: #000;
}
.secondBlock .item-dev_qty .quantitywrap input.qtyminus, .secondBlock .item-dev_qty .quantitywrap input.qtyplus {
    width: 22px;
    height: 22px;
    font-size: 18px;
	background-color:#f4f6f8;
}
.secondBlock .item-ship_charge {
	width: 26%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-close {
	width: 8%;
	float: left;
	text-align: center;
	padding: 30px 0px;
	display: block;
	height: 80px;
	border-left: 1px solid #ccc;
}
.secondBlock .item-close a{
	border-radius: 50%;
	/*background-color:#999;*/
}
.secondBlock .item-close .circle {
	padding: 3px 3px;
	color: #999;
	font-weight: 100;
	font-size: 11px;
}
.secondBlock .item-close .circle i{
	margin-right:0px;
}
/*------Block end-------*/
.nav-box-second .item-image img {
	width: 50px;
	border: 1px solid #e9e9e9;
	margin-left: 10px;
}
.nav-box-second .item-name p strong {
	text-transform: capitalize;
	font-size: 15px;
}
.item-qty .form-control {
	border-radius: 0px;
}
.nav-box-second .item-action ul {
	list-style: none;
	padding: 0px;
}
.nav-box-second .item-action ul li {
	display: inline;
}
.nav-box-second .order-part, .nav-box-second .order-part-footer {
	padding-left: 0px;
}
.nav-box-second .box-heading-inner-order {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	background-color: #fafafa;
	color: #000;
	margin-bottom: 11px;
}
.nav-box-second .order-part {
	margin-top: -1px;
}
.nav-box-second .box-heading-footer {
	width: 100%;
	position: relative;
	float: left;
	padding: 15px 0;
	background-color: #fff;
	color: #000;
	margin: 10px 0;
}
.nav-box-second .box-heading-footer label {
	font-weight: normal;
}
.nav-box-second .box-heading-footer label a {
	color: #3b99fc;
}
/*---- Address Popup-----*/
.add_address .modal-dialog {
    width: 800px;
    margin: 10% auto 0;
}
.add_address .modal-body h4{
	line-height:25px;
	font-size: 16px;
}
.add_address .modal-body li{
	padding-bottom:15px;
}
.add_address .add_or{
	border:1px solid #ccc;
	padding: 6px 6px;
	border-radius:50%;
	background-color:#f4f6f8;
	margin-top:30px;
}
.add_address hr{
	border-color: #ccc;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
@media all and (max-width: 1024px) and (min-width: 768px) {
.nav-box-second .detail-box .details .editDeleteBlock {
	position: absolute;
	top: 5px;
	right: 15px;
}
.nav-box-second .detail-box .editDeleteBlock ul li {
	display: inline;
	padding-right: 2px;
}
.nav-box-second .detail-box .editDeleteBlock ul li img {
	width: 10px;
}
.nav-box-second .detail-box h4 span {
	margin-top: 0px;
}
.nav-box-second .detail-box label {
	padding: 10px 0px 0px 10px;
}
.nav-box-second .details p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 0px;
	line-height: 25px;
}
.nav-box-second .detail-box .btn {
	margin: 3px 0;
	padding: 3px 5px;
	height: 25px;
}
.nav-box-second {
	padding: 0em 0em 0em;
	margin: 0 1em 1em;
}
.nav-box-second .box-heading {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	height: 70px;
	padding-top: -5px;
	background-color: #f4f6f8;
	color: #ff7403;
}
.nav-box-second .detail-box {
	padding: 0px 10px;
}
.nav-box-second .box-heading h4 {
	font-size: 15px;
	margin-top: 0px;
}
.nav-box-second .detail-box h4 {
	padding: 10px 10px 10px 15px;
	background-color: #f5f6f8;
	font-size: 13px;
	margin: 0px;
	border: 1px solid #ccc;
	line-height: 15px;
}
.nav-box-second .detail-box label {
	padding: 10px 0px 0px 15px;
}
.nav-box-second .details {
	padding: 10px 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.nav-box-second .detail-box h4 a {
    font-size: 10px;
}
.nav-box-second .details p {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}
.nav-box-second .detail-box button {
	margin: 10px 0px 10px 15px;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 12px;
}
.nav-box-second .block-label {
	padding-top: 10px;
}
.checkbox-inline {
	font-size: 12px;
	color: #000;
}
.nav-box-second i {
	font-size: 10px;
}
.nav-box-second .btn {
	border-radius: 0px;
	height: 38px;
	width: 55px;
	font-size: 10px;
	padding: 6px;
}
.nav-box-second .box-heading-inner {
	width: 100%;
	position: relative;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	padding: 0px 0;
	background-color: #fff;
	color: #000;
}
.nav-box-second .item-image {
	width: 9%;
	float: left;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-name {
	width: 17%;
	float: left;
	padding: 20px 0 0 7px;
	display: block;
	height: 100%;
}
.nav-box-second .item-qty {
	width: 6%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-date {
	width: 13%;
	float: left;
	text-align: center;
	display: block;
	height: 100%;
	padding: 20px 0;
}
.nav-box-second .item-date p, .nav-box-second .item-qty p {
	font-size: 13px;
}
.nav-box-second .firstBlock {
	float: left;
	width: 45%;
	display: block;
	height: 160px;
}
.nav-box-second .secondBlock {
	float: left;
	width: 100%;
	display: block;
	height: 80px;
}
.nav-box-second .border-top {
	border-top: 1px solid #ccc;
}
.nav-box-second .item-b_add {
	width: 14%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-s_add {
	width:20%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-dev_qty {
	width: 16%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-ship_charge {
	width: 13%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.nav-box-second .item-close {
	width: 5%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
/*------- Blocks for Product list--------*/
.firstBlock .item-image {
	width: 17%;
	float: left;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.firstBlock .item-name {
	width: 37%;
	float: left;
	padding: 20px 0 0 5px;
	display: block;
	height: 100%;
}
.firstBlock .item-name h5 {
	font-size: 13px;
	font-weight: bold;
	margin: 0px 0px 10px;
}
.firstBlock .item-name p {
	font-size: 12px;
}
.firstBlock .item-qty {
	width: 20%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.firstBlock .item-date {
	width: 20%;
	float: left;
	text-align: center;
	display: block;
	height: 100%;
	padding: 20px 0;
}
.secondBlock .item-b_add {
	width: 27%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-s_add {
	width: 27%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-b_add p {
	font-size: 13px;
	margin-bottom: 5px;
}
.secondBlock .item-s_add p {
	font-size: 13px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.secondBlock .item-b_add a, .secondBlock .item-s_add a {
	font-size: 12px;
	margin-bottom: 5px;
	color: #3b99fc;
}
.secondBlock .item-dev_qty {
	width: 18%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-dev_qty .form-control {
	width: 80%;
	border-radius: 0px;
	text-align: center;
	margin-left: 10px;
}
.secondBlock .item-ship_charge {
	width: 20%;
	float: left;
	text-align: center;
	padding: 20px 0;
	display: block;
	height: 100%;
}
.secondBlock .item-close {
	width: 8%;
	float: left;
	text-align: center;
	padding: 30px 1px;
	display: block;
	height: 80px;
	border-left: 1px solid #ccc;
}
.secondBlock .item-close .circle {
	padding: 1px 3px;
	border-radius: 50%;
	color: #e7e8ea;
	font-weight: 100;
	font-size: 10px;
}
/*------Block end-------*/
.nav-box-second .item-image img {
	width: 40px;
	border: 1px solid #e9e9e9;
	margin-left: 6px;
}
.nav-box-second .item-name p strong {
	text-transform: capitalize;
	font-size: 15px;
}
.item-qty .form-control {
	border-radius: 0px;
}
.nav-box-second .item-action ul {
	list-style: none;
	padding: 0px;
}
.nav-box-second .item-action ul li {
	display: inline;
}
.nav-box-second .order-part, .nav-box-second .order-part-footer {
	padding-left: 0px;
}
.nav-box-second .box-heading-inner-order {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	float: left;
	background-color: #fafafa;
	color: #000;
}
.nav-box-second .order-part {
	margin-top: -1px;
}
.nav-box-second .box-heading-footer {
	width: 100%;
	position: relative;
	float: left;
	padding: 30px 0;
	background-color: #fff;
	color: #000;
	margin: 10px 0;
}
.nav-box-second .box-heading-footer label {
	font-weight: normal;
}
.nav-box-second .box-heading-footer label a {
	color: #3b99fc;
}
}

@media (max-width:768px) {
.nav-box-second .order-part, .nav-box-second .order-part-footer {
	padding-left: 15px;
}
.nav-box-second .details p.namehead {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}
}
/*-------- 3. Checkout Page - Payment Method --------*/
.order-part-payment #Points, .order-part-payment #COD, .order-part-payment #Online {
	padding: 1em 1em 7em;
	text-align: left;
}
.nav-box1 .order-part-payment {
	padding-left: 0px;
}
.order-part-payment #NEFT {
	padding: 3em 5em;
	text-align: left;
}
.order-part-payment #Points .box {
	padding: 0.6em 0;
}
.order-part-payment #Points .box p {
	color: #b3b3b3;
	font-size: 14px;
	margin: 5px 0;
}
.order-part-payment .btn {
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	padding: 8px 12px;
}
.order-part-payment .btn1 {
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	border-radius: 4px;
}
.order-part-payment #Points .box .red {
	color: #ff7d14;
}
.order-part-payment .box h4 {
	font-size: 20px;
	margin-bottom: 15px;
}
.order-part-payment #COD .box h6 {
	color: #000;
	font-size: 16px;
	margin-bottom: 15px;
}
.order-part-payment #NEFT .box h5 {
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 400;
}
.order-part-payment .boxing {
	padding: 2em 0;
}
.order-part .boxing {
	padding: 5em 0;
}
.order-part .boxing .btn2 {
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 25px;
}

@media all and (max-width: 1024px) and (min-width: 800px) {
.order-part .boxing .btn2 {
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 9px;
}
}

@media (max-width:768px) {
.order-part-payment #Points, .order-part-payment #COD, .order-part-payment #Online {
	padding: 3em 1em 7em;
	text-align: center;
}
.order-part-payment #NEFT {
	padding: 3em 5em;
	text-align: left;
}
.order-part-payment #Points .box {
	padding: 0.6em 0;
}
.order-part-payment #Points .box p {
	color: #b3b3b3;
	font-size: 14px;
	margin: 5px 0;
}
.order-part-payment .btn {
	font-size: 14px;
	font-weight: bold;
	width: 200px;
}
.order-part-payment .btn1 {
	font-size: 14px;
	font-weight: bold;
	width: 100px;
	border-radius: 4px;
}
.order-part-payment #Points .box .red {
	color: #ff7d14;
}
.order-part-payment .box h4 {
	font-size: 16px;
	margin-bottom: 15px;
}
.order-part-payment #COD .box h6 {
	color: #000;
	font-size: 16px;
	margin-bottom: 15px;
}
.order-part-payment #NEFT .box h5 {
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: 400;
}
.order-part-payment .boxing {
	padding: 2em 0;
}
.order-part .boxing {
	padding: 5em 0;
}
.order-part .boxing .btn2 {
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 10px;
}
}
/*-------- 4. Checkout Page - Confrmation --------*/
.nav-box-confirm {
	margin: 0 auto;
	padding: 2em 20%;
}
.nav-box-confirm .confirm-box {
	width: 100%;
	border: 1px solid #fff;
	padding: 2em 6em;
	position: relative;
	float: left;
}
.col_2 {
	float: left;
	width: 49%;
	border-bottom:1px solid #a3a3a3;
	height:150px;
}
.nav-box-confirm .confirm-box h2 {
	font-size: 24px;
	margin: 0px;
	color:#666666;
}
.nav-box-confirm .confirm-box hr {
	border-color: #000;
}
.nav-box-confirm .confirm-box h3 {
	font-size: 14px;
	color: #129f3a;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top:10px;
}
.nav-box-confirm .confirm-box h4{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 1em;
	border-bottom:1px solid #a3a3a3;
	line-height:40px;
}
.confirm-order-details {
	padding-left: 0em;
}
.confirm-order-details p strong{
	color: #333333;
}
.confirm-order-details p {
	color: #999999;
	font-size:15px;
	margin-bottom:15px;
}
.confirm-order-details .red {
	color: #ff8400;
}
.track-order-details {
	padding-top: 4.5em;
	padding-left: 2em;
}
.track-order-details .btn2 {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 25px;
}
.nav-box-shopping {
	padding: 0em 0 4em;
}
.nav-box-shopping a {
	font-size: 16px;
	font-weight: bold;
}
@media (max-width:768px) {
	.nav-box-confirm {
		padding: 2em 0%;
	}
	.nav-box-confirm .confirm-box {
		width: 100%;
		padding: 2em 5em;
		position: relative;
		float: left;
	}
}

@media (max-width:640px) {
.nav-box-confirm {
	padding: 2em 0%;
}
.nav-box-confirm .confirm-box {
	width: 100%;
	border: 1px solid #ccc;
	padding: 2em 4em;
	position: relative;
	float: left;
}
.col_2 {
	float: left;
	width: 100%;
}
.nav-box-confirm .confirm-box h2 {
	font-size: 20px;
}
.nav-box-confirm .confirm-box hr {
	border-color: #000;
}
.nav-box-confirm .confirm-box h3 {
	font-size: 12px;
	color: #129f3a;
	font-weight: bold;
	margin-bottom: 3em;
}
.confirm-order-details {
	border-right: 1px solid #fff;
	padding-left: 0em;
	text-align: center;
}
.confirm-order-details h4 {
	margin-bottom: 20px;
}
.confirm-order-details p {
	color: #999999;
}
.confirm-order-details p strong {
	color: #000;
}
.confirm-order-details .red {
	color: #ff8400;
}
.track-order-details {
	padding-top: 2em;
	padding-left: 0em;
	text-align: center;
}
.track-order-details .btn2 {
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px 25px;
}
}
.categorieslink .menu-container ul.top-Menu li ul li ul li:last-child, .categorieslink .menu-container ul.top-Menu li ul li:last-child, .categorieslink .menu-container ul.top-Menu li ul li ul li:last-child {
	border-bottom: none;
}
/*.submenumain:after {
	background: url(../images/sprite.png) no-repeat -416px -5px;
	width: 20px;
	height: 20px;
	content: '';
	position: absolute;
	right: 0;
}*/
/*-----My Acount Pages------*/
.accountDetailssec{
	background-color:#fff;
}
.accountDetailssec .head-acc h1{
	margin: 0px 0px 15px;
	font-size:26px;
}
.accountDetailssec .head-acc button{
	width:160px;
}
.accountDetailssec .head-acc .dropdown-menu{
	left: 70.2%;
	border-radius: 0px;
	top: 31px;
	padding:0px;
}
.accountDetailssec .head-acc ul.dropdown-menu::before {
    content: "";
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
}
.accountDetailssec .head-acc ul.dropdown-menu::after {
    content: "";
    border-bottom: 0px solid #fff;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9;
}
.accountDetailssec .head-acc .dropdown-menu li a{
	padding:7px 8px;
	border-bottom:1px solid #ccc;
}
.accountDetailssec .order-part{
	padding-right:0px;
}
.acc_sprite{
	background-image:url(../images/sprite_acc.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.accountDetailssec .order-part .tabs-left i{
	width:25px;
	height:25px;
	margin-right:7px;
 
}
.order-part .tabs-left > li > a > p {margin-bottom: 0;margin-bottom: 0;}
.profile_icn{
	background-position: -3px -223px;
}
.order_icn{
	background-position: -3px -33px;
}
.shipping_icn{
	background-position: -68px -3px;
}
.points_icn{
	background-position: -3px -162px;
}
.address_icn{
	background-position: -3px -97px;
}
.rate_icn{
	background-position: -3px -131px;
}
.msg_icn{
	background-position: -3px -194px;
}
.pwd_icn{
	background-position: -3px -66px;
}
.support_icn{
	background-position: -3px -2px;
}
.tabs-left li.active .profile_icn{
	background-position: -35px -222px;
}
.tabs-left li.active .order_icn{
	background-position: -35px -34px;
}
.tabs-left li.active .shipping_icn{
	background-position: -68px -35px;
}
.tabs-left li.active .points_icn{
	background-position: -35px -162px;
}
.tabs-left li.active .address_icn{
	background-position: -35px -97px;
}
.tabs-left li.active .rate_icn{
	background-position: -35px -131px;
}
.tabs-left li.active .msg_icn{
	background-position: -35px -194px;
}
.tabs-left li.active .pwd_icn{
	background-position: -35px -66px;
}
.tabs-left li.active .support_icn{
	background-position: -35px -2px;
}
.accountDetailssec .my_acc{
	margin-top:0px;
	padding-left:0px;
	padding-right: 0px;
}
.accountDetailssec .my_acc .tabs-right{
	width:100%;
	border-top:1px solid #fff !important;
}
#buyerSec .box{
	padding:0 15px 15px 15px;
}
#buyerSec .box .hr-strip{
	background-image:url(../images/horizontal-strip.jpg);
	background-repeat:no-repeat;
	padding:6px 8px 10px 8px;
	margin-left:0px;
	margin-bottom:15px;
	margin-right: 0px;
}
#buyerSec .box .hr-strip h4{
	color:#fff;
	text-transform:uppercase;
	font-size:20px;
	margin:10px 0;
}
#buyerSec h4{
	font-size:20px;
	margin:0px;
}
#buyerSec .box .btn1{
	padding:6px 12px;
}
#buyerSec .header{
	padding-bottom:10px;
}
#buyerSec .header h4{
	margin-bottom:5px;
}
#buyerSec .box .hr-strip .btn{
	padding:8px 15px;
	text-transform:uppercase;
	margin-top:20px;
}
#buyerSec .box .nav-tabs{
	border-bottom:none;
}
#buyerSec .box .nav-tabs li a{
	/*border-radius:0px;
	border:1px solid #ccc;
	margin:0px;*/
	background-color:#f3f3f3;
}
#buyerSec .box .nav-tabs li a:hover, #buyerSec .box .nav-tabs li.active a, #buyerSec .box .nav-tabs li a:focus{
	background-color:#fff;
}
#buyerSec .box .tab-content{
	border:1px solid #e2e2e2;
	width:100%;
	margin-top:0px;
}
#buyerSec .box .tab-content .info, #buyerSec .box .tab-content .company, #buyerSec .box .tab-content .rm{
	padding:25px 15px 12em 15px;
}
#buyerSec .box .tab-content .rating{
	padding:8px 0px 12em 0px;
}
#buyerSec .box .tab-content .info .form-horizontal, #buyerSec .box .tab-content .company .form-horizontal, #buyerSec .box .tab-content .rm .form-horizontal{
	padding:20px;
}
#buyerSec .box .tab-content .info label{
	padding-top:5px;
	color:#999999;
	font-weight:normal;
}
#buyerSec .box .tab-content .info .brd{
	border-bottom:1px solid #ccc;
}
#buyerSec .box .tab-content .info .form-control{
	width:auto;
	box-shadow:none;
	color:#333;
}
#buyerSec .box .tab-content .info select.form-control{
	border:1px solid #ddd;
	box-shadow:none;
	color:#333;
}
#buyerSec .box .tab-content .info .address_book{
	border-top:1px solid #cccccc;
	background-color:#f5f6f8;
	margin:0px -15px;
}
#buyerSec .box .tab-content .info .address_book .table tr td{
	border-top:1px solid #f5f6f8;
}
#buyerSec .box .tab-content .info .address_book hr{
	border-color:#ccc;
}
#buyerSec .box .tab-content .info .address_book .table tr td h4{
	margin-bottom:15px;
}
#buyerSec .box .tab-content .info .address_book .table tr td p{
	line-height:28px;
	font-size:16px;
	color:#666666;
}
#buyerSec .box .tab-content .info .btn, #buyerSec .box .tab-content .company .btn, #buyerSec .box .tab-content .rm .btn{
	width:100px;
}
#buyerSec .box .tab-content .company label, #buyerSec .box .tab-content .rm label{
	padding-top:5px;
	color:#000;
	font-weight:normal;
}
#buyerSec .box .tab-content .company .form-control{
	margin-bottom:5px;
}
#buyerSec .box .tab-content .company .btn-file {
    position: relative;
    overflow: hidden;
}
#buyerSec .box .tab-content .company i{
	width:15px;
	height:10px;
	margin-right: 10px;
}
.chk_icn{
	background-position: -70px -106px;
}
.remove_icn{
	background-position: -70px -78px;
}
#buyerSec .box .tab-content .company .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
	color:#fff;
}
#buyerSec .box .tab-content .company p{
	font-size:10px;
	color:#b3b3b3;
	margin:5px 0;
}
#buyerSec .box .tab-content .company p.greentext{
	color:#009933;
}
#pwd label{
	font-size:14px;
	color:#000 !important;
	padding-top:5px;
}
#buyerSec .rating th{
	border-bottom:1px solid #ddd;
}
#buyerSec .rating td{
	border-bottom:1px solid #ddd;
}
#buyerSec .rating td{
	display:table-cell;
	vertical-align:middle;
}
#buyerSec .rating td h4{
	font-size:14px;
	text-align:center;
}
#buyerSec .rating td p{
	padding: 5px 35px;
	font-size:12px;
}
#buyerSec .rating td a.bluetext{
	color:#0099ff;
	text-decoration:underline;
}
#buyerSec .rating th h4, #buyerSec .points th h4{
	font-weight:normal;
	font-size:17px;
	color:#000;
	padding:5px 0px 10px 10px;
}
#buyerSec .rating th h5, #buyerSec .points th h5{
	font-weight:bold;
	font-size:16px;
	padding-left: 10px;
}
#buyerSec .details th{
	text-align:left;
	padding-top:10px;
}
#buyerSec .details th h4{
	font-weight:bold;
}
#buyerSec .details td{
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	color:#707070;
	padding-left:15px;
	vertical-align: middle;
}
#buyerSec .details td h4{
	font-size:14px;
}
#buyerSec .details td a{
	text-align:center;
	padding-top:10px;
	font-size:14px;
}
#buyerSec .orders h4{
	padding: 20px 0 10px 5px;
	font-size:14px;
	font-weight:bold;
}
#buyerSec .orders .brd{
	border-bottom:1px solid #ccc;
	margin:0px 0px;
}
#buyerSec .orders .order_head{
	padding: 0px;
	margin: 12px 10px 0 10px;
	border-bottom: 1px solid #ccc;
}
#buyerSec .orders .order_data{
	padding:4px;
	margin:10px;
	border:1px solid #ccc;
	background-color:#f5f6f8;
}
#buyerSec .orders .order_data h4{
	font-weight:normal;
}
#buyerSec .orders h5{
	font-size:14px;
	padding: 0px 10px 0px;
	vertical-align:middle;
}
#buyerSec .orders a{
	color:#fff;
	margin-top: 7px;
}
#buyerSec .support .sup_head{
	border-bottom:1px solid #ccc;
	padding:8px 0px;
	background-color:#f5f6f8;
}
#buyerSec .support .sup_head h5{
	font-weight:bold;
	padding-left:25px;
}
#buyerSec .support .sup_body{
	padding:15px 25px;
}
#buyerSec .support .sup_form{
	padding:15px 25px 8em;
}
#buyerSec .support .sup_form .p36{
	padding-top: 20px;
}
#buyerSec .support .sup_body p{
	font-size:16px;
	line-height:20px;
}
#buyerSec .support .sup_form h5{
	font-weight:bold;
	margin-bottom:15px;
}
#buyerSec .message .msg_head, #buyerSec .message .msg_body{
	padding:0px;
}
.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
}
#buyerSec .message .msg_head .nav-pills li a{
	padding:10px;
	border-radius:0px;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
#buyerSec .message .msg_head .nav-pills li.active a{
	background-color:#f5f6f8;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	color:#000;
}
#buyerSec .message h4{
	font-size:16px;
	font-weight:bold;
	margin-bottom:-10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#buyerSec .message h4 span{
	font-size:10px;
	padding-top:5px;
	font-weight:100;
}
#buyerSec .message .msg_head .nav-pills li a p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:150px;
	margin-bottom:0px;
}
#buyerSec .message .msg_head .nav-pills li .btn{
	bottom: 5px;
	position: absolute;
	right: 0px;
	z-index:99999;
}
#buyerSec .message .msg_body .tab-content{
	border:1px solid transparent;
	padding:15px 25px;
}
#buyerSec .message p{
	font-size:15px;
	line-height:23px;
	margin-top:20px;
}
#buyerSec .list .list_head{
	padding:8px;
	background-color:#e3f0fc;
	border:1px solid #a9d4fc;
}
#buyerSec .list .list_head_sec{
	background-color:#f3f3f2;
	border-bottom:1px solid #ccc;
}
#buyerSec .list .list_head_sec h5{
	font-weight:bold;
}
#buyerSec .list .list_head_thrd{
	padding:10px;
}
#buyerSec .list .list_head_thrd .table tr td button.bluedarkbtn{
	margin-right:10px;
}
#buyerSec .list .list_head_thrd .table tr td{
	border-top:1px solid #fff;
	vertical-align:middle;
}
#buyerSec .list .list_head_forth{
	padding:10px;
}
#buyerSec .list .list_head_forth .table thead tr th{
	vertical-align:middle;
}
#buyerSec .list .list_head_forth .table thead tr th h4{
	font-size:13px;
	font-weight:bold;
	text-align:center;
	line-height:20px;
}
#buyerSec .list .list_head_forth .table tbody tr td{
	vertical-align:middle;
	text-align:center;
	background-color:#f5f6f8;
}
#buyerSec .list .list_head_forth .table tbody tr td a{
	color: #fff;
	font-size:12px;
}
#buyerSec .list .list_head_forth .table tbody tr td p{
	margin-bottom:0px;
	color:#707070;
}
#buyerSec .list .list_head_forth .table tbody tr td ul li{
	display:inline;
	padding:0 6px;
}
#buyerSec .list .list_head_forth .table tbody tr td ul li a{
	color:#0066c0;
}
#buyerSec .list .list_head_forth .table tbody tr td ul li.active a{
	font-weight:bolder;
}
@media (max-width:1024px){
	#buyerSec .box .hr-strip h4{
		font-size:12px;
	}
	#buyerSec .box .hr-strip .btn{
		margin-top:10px;
	}
	#buyerSec .orders h5{
		font-size:8px;
		padding:0px;
	}
	 #buyerSec .orders a{
		font-size:8px;
	 }
	#buyerSec .orders .order_data h4{
		font-size:9px;
	}
	#buyerSec .orders .order_data h6{
		font-size:8px;
	}
	#buyerSec .orders .order_head h4{
		font-size:10px;
	}
	#buyerSec .support .sup_head{
		border-bottom:1px solid #ccc;
		padding:8px 0px;
		background-color:#f5f6f8;
	}
	#buyerSec .message h4{
    	font-size: 14px;
	}
	#buyerSec .message p{
    	font-size: 12px;
	}
	#buyerSec .message .msg_head .nav-pills li a p{
		width:100px;
	}
	#buyerSec .list .list_head_thrd h4{
		font-size:14px;
	}
	#buyerSec .list .list_head_thrd .btn{
		font-size:10px;
	}
	#buyerSec .list .list_head_forth .table thead tr th h4{
		font-size:11px;
	}
	#buyerSec .list .list_head_forth .table tbody tr td a{
		font-size:9px;
	}
	#buyerSec .list .list_head_forth .table tbody tr td p{
		font-size:9px;
	}
}

.backbtn { border-bottom:1px solid #ddd;padding: 5px 0;text-transform: uppercase;font-size: 15px;}
.backbtn btn-link{ text-transform:uppercase }
/*----- Order Details ------*/
.orderDetailssec{
	
}
.orderDetailssec .head-ord{box-shadow:1px 1px 1px #333; background-color:#fff;}
.orderDetailssec .head-ord h1{
	margin: 0px 0px 15px;
	font-size:26px;
}
.orderDetailssec .top-cancel{background-color:#f00; color:#fff;}
.orderDetailssec .top-cancel h2{font-size:18px; color:#fff; margin:0px; padding:10px 20px;}
.orderDetailssec ul{border-bottom:1px solid #ccc; padding-bottom:10px;}
.orderDetailssec ul li{display:inline; padding-right:10px;}
.orderDetailssec .orderAdd{padding-left:0px;}
.orderDetailssec .orderAdd h4{font-size:16px; font-weight:bold; padding-top:20px; padding-bottom:5px;}
.orderDetailssec .orderAdd p{margin-bottom:4px;}
.orderDetailssec .body-ord{background-color:#fff;}
.orderDetailssec .prd-details{background-color:#f5f6f8; border:1px solid #ccc;}
.orderDetailssec .body-ord .box-heading{background-color:#eeeeef; padding:10px; color:#000; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ccc;}
.orderDetailssec .body-ord .box-heading h3{font-size:18px; margin:0px;}
.orderDetailssec .content-ord{background-color:#fff; display:block; border-bottom:1px solid #ccc;    padding: 20px 0;}
.orderDetailssec .content-ord .data-ord{display:table-cell; vertical-align:middle;    border-top: 0px;}
.orderDetailssec .content-ord p{margin:0px;}
.orderDetailssec .content-ord h3{font-size:16px; font-weight:bold;}
.orderDetailssec .prd-details td{ vertical-align:middle }