@charset "utf-8";
/* CSS Document */

@media (min-width: 992px){.container { width: 96%;}}
@media (min-width: 768px){.container { width: 96%;} }
@media (min-width: 1200px){.container {width: 1170px;}}

@media (min-width: 768px){ 
.p0-col { padding:0px!important}

}
@media (max-width: 767px){ 
 .innerpage { padding:20px}
 .productCompare { width:100%; overflow:auto}
 #topNavmain{ position:fixed; width: 100%; z-index: 2; top:0}
 .header-container { padding-top: 72px;}
 .filter-rgt .productwrapper {margin-left:0px;}
 .filter-selected, .filterview{    margin: 0 15px 10px 15px;    padding: 15px;}
 header {box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;    border-bottom: 1px solid #f5f5f5;}
}

@media (max-width: 550px){
.col-xss-1{ width: 8.33333333%;}
.col-xss-2{ width: 16.66666667%;}
.col-xss-3{ width: 25%;}
.col-xss-4{ width: 33.33333333%;}
.col-xss-5{ width: 41.66666667%;}
.col-xss-6{ width: 50%;}
.col-xss-7{ width: 58.33333333%;}
.col-xss-8{ width: 66.66666667%;}
.col-xss-9{ width: 75%;}
.col-xss-10{ width: 83.33333333%;}
.col-xss-11{ width: width: 91.66666667%;}
.col-xss-12{ width: 100%;}
}