@charset "utf-8";
/* CSS Document */

body { background:#ebebeb; font-family: 'Roboto', sans-serif;font-size:13px; height:100%; position:relative;}

a , a:hover, a:focus, a:active, button { outline:none!important; text-decoration:none; color:#000; }
a, button, input { outline:0!important}
button:active , input:active{outline: 0!important;outline: none!important;}
button:focus, input:focus { outline:0 !important; }

ul { list-style:none; margin:0; padding: 0;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight:normal }

dt { font-weight:normal}

.mtb10 { margin:10px 0} 
.m0 {margin: 0px!important;}.mt0 {margin-top: 0px!important;}.ml0 {margin-left: 0px!important;}.mr0 {margin-right: 0px!important;}.mb0 {margin-bottom: 0px!important;}
.m10 { margin:10px;}.m20 { margin:20px!important;}
.mt10 {	margin-top: 10px!important;}.ml10 {margin-left: 10px!important;}.mr10 {	margin-right: 10px!important;}.mb10 {	margin-bottom: 10px!important;}
.mt20 {margin-top: 20px!important;}.ml20 {margin-left: 20px!important;}.mr20 {	margin-right: 20px!important;}.mb20 {	margin-bottom: 20px!important;}
.mtb20 { margin:20px 0}
.mt-19{margin-top:-19px;}
.mb5 {margin-bottom: 5px!important;}

.p0 {padding: 0px!important;}.pt0 {padding-top: 0px!important;}.pl0 {padding-left: 0px!important;}.pr0 {padding-right: 0px!important;}.pb0 {padding-bottom: 0px!important;}
.p20 { padding:20px}
.pt15{padding-top:15px;}

.relative { position:relative}

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   
}*/

@font-face {
	font-family: 'rupee';
	src: url('../fonts/rupee_foradian-webfont.eot?') format('eot'),
	url('../fonts/rupee_foradian-webfont.woff') format('woff'),
	url('../fonts/rupee_foradian-webfont.ttf') format('truetype'),
	url('../fonts/rupee_foradian-webfont.svg#webfontdSscXrwb') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'kelson_sansregular';
	src: url('../fonts/KelsonSansRegular.eot?') format('eot'),
	url('../fonts/KelsonSansRegular.woff') format('woff'),
	url('../fonts/KelsonSansRegular.ttf') format('truetype'),
	url('../fonts/KelsonSansRegular.svg#webfontdSscXrwb') format('svg');
	font-weight: normal;
	font-style: normal;
}

.rupee { font-family: 'rupee'; }

.clearfix{clear: both;}

.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}

.fontbold { font-weight:700}

.breadcrumb {
    padding: 8px 3px;
}

.blacktext { color:#000}
.bluetext { color:#0fadda}
.greentext { color:#24b83c}
.redtext { color:#eb2712}
.orangetext { color:#ff7403}
.graytext {color:#909090}
.whiteText{color:#fff;}

.bgwhite{ background:#fff}

.border-btm{ border-bottom:1px solid #707070;}

.orangebtn { background:#ff7403; color:#fff; }
.orangebtn:hover,.orangebtn:active,.orangebtn:focus { background:#ff5603; color:#fff; }

.lightgraybtn{background:#ebebeb; color:#000;}
.lightgraybtn:hover,.lightgraybtn:active,.lightgraybtn:focus { background:#BFBFBF; color:#000; }

.bluebtn { background:#3b658c; color:#fff; }
.bluebtn:hover,.bluebtn:active,.bluebtn:focus { background:#254d71; color:#fff; }

.darkgraybtn { background:#606060; color:#fff; }
.darkgraybtn:hover,.darkgraybtn:active,.darkgraybtn:focus { background:#4E4C4C; color:#fff; }

.borderbtn {     border: 2px solid #838383; color: #3F3F3F;background-color: transparent;}
.borderbtn:hover,.borderbtn:active,.borderbtn:focus { border: 2px solid #838383; color: #3F3F3F;background-color: transparent;}

header { background: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 4px 0 3px 0;}

.sprite { background-image:url(../images/sprite.png); background-repeat:no-repeat; display:inline-block}

.userMenu{ color:#7A7A7A;padding: 5px 0; margin: 0;font-size: 12px;}
.userMenu li a{ color:#7A7A7A }.userMenu li a:hover{ color:#ff7403 }
.userMenu li:first-child { display: inline-block; padding-left:0px}
.userMenu li { display: inline-block; padding:0 13px}
.userMenu li:last-child { display: inline-block; padding-right:0px}
@media (max-width:1023px){.userMenu{ font-size:12px;}.userMenu li {    padding: 0 6px;}}

.categorieslink { background:#fff; padding:0; }
@media (min-width:768px){ .categorieslink { min-height: 443px;}}
.categorieslink h2{ background:#D5D5D5; color:#000; font-size:16px; padding-left:24px; padding-right:15px; margin:0; text-transform:uppercase; line-height:50px; font-weight:500;}
.categorieslink h2 a{ font-size:12px;text-transform:capitalize;float: right; color:#666; font-weight:normal;}
.categorieslink a:hover{ color:#ff7403; }

.quiklinks { background:#fff; line-height:50px; font-size:17px; text-align:center;-webkit-box-shadow:0px 4px 5px #ECECEC inset;-moz-box-shadow:0px 4px 5px #ECECEC inset; box-shadow:0px 4px 5px #ECECEC inset;}
.quiklinks a{ color:#ff7403}
.quiklinks:nth-child(1), .quiklinks:nth-child(2){ border-right:1px solid #bcbcbc }

.homepageslider { background:#fff}
.homepageslider .owl-carousel .owl-item img{ height:393px;}
.homepageslider .owl-carousel .owl-item:first-child .item { background:url(../images/banner/img1.jpg) 0 0 no-repeat; background-size:cover;height: 394px;}
.homepageslider .owl-carousel .owl-item:nth-child(2) .item { background:url(../images/banner/img1.jpg) 0 0 no-repeat; background-size:cover;height: 394px;}
.homepageslider .owl-carousel .owl-item:nth-child(3) .item { background:url(../images/banner/img1.jpg) 0 0 no-repeat; background-size:cover;height: 394px;}

.bestsellicn, .sellicn { width:32px; height:27px; background-position: -249px -240px;   }
.bestsellicn {background-position:-38px 0px; }

.topsearchbar { border: 1px solid #cccccc;width: 65%;float: left; border-radius: 4px; line-height:40px; position: relative;  }
.topsearchbar{margin-top: 13px; margin-bottom: 5px;}
.logo {margin-top: 10px; margin-bottom: 5px;}
.logo img{ width: 45%;}
.cartcounter {  min-width: 66px;}

#prediction   {width: 72%;margin-left: 159px;border: none;position: absolute;background: #fff;z-index: 1;border: 1px solid #ddd;padding: 10px;    display: none;}
#prediction  h3{ color:#ff7403; font-size: 14px;    font-weight: bold;}
#prediction li{ line-height: 20px; border-bottom: 1px solid #e8e8e8; padding: 2px 0; font-size: 12px;}
#prediction li a{ color:#666}#prediction li a:hover{ color:#000}
#prediction li:last-child{ border-bottom:0px solid #ddd;}

.topsearchbar .dropdown-toggle { font-weight: 500;background:#f6f6f6; font-size:14px; color:#000; text-transform:uppercase; line-height:28px; width:160px; border-right: 1px solid #ccc; border-radius: 7px 0 0 7px;}
.topsearchbar .dropdown-toggle:focus, .topsearchbar .dropdown-toggle:active { box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none}
#prependedDropdownButton { width:100%; padding-left:170px;padding-right:51px; border:none;border-radius: 8px;}
#prependedDropdownButton:focus, #prependedDropdownButton:active, .topsearchbar input[type="submit"]:focus, .topsearchbar input[type="submit"]:active { border:none; outline:none!important }
.topsearchbar .btn-group{ position:absolute; border-radius: 7px 0 0 7px;}
.topsearchbar .caret { color:#ff7403; margin-left: 5px; margin-top: -6px;border-right: 6px solid transparent; border-top: 7px dashed;border-left: 6px solid transparent;}
.topsearchbar input[type="submit"]{ background-position: -466px 0;width: 34px;height: 33px;background-color: transparent;border: none;position: absolute;right: 6px; top: 4px;}
.topsearchbar input[type="submit"]:active { box-shadow: 0 5px 0 rgba(255,255,255,.76), 0 1px 5px rgba(0,0,0,.8) inset;-moz-box-shadow: 0 5px 0 rgba(255,255,255,.76), 0 1px 5px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 5px 0 rgba(255,255,255,.76), 0 1px 5px rgba(0,0,0,.8) inset; border-radius: 36px;-webkit-border-radius: 36px;-moz-border-radius: 36px;}
.topsearchbar .dropdown-menu { line-height:18px; padding:6px;width:300px; font-size: 13px;max-height:415px;overflow: auto;}
.topsearchbar .dropdown-menu li{ border-bottom: 1px solid #f5f5f5;padding: 4px 8px;    max-height: 250px; overflow:auto; cursor:pointer}
.topsearchbar .dropdown-menu li:hover{ background:#f6f6f6; color:#ff7403; }
.topsearchbar .dropdown-menu li:last-child{ border-bottom:0px; }
@media (max-width:850px){.topsearchbar .dropdown-toggle{ font-size: 12px;padding: 6px 0; width: 130px;}#prependedDropdownButton {padding-left: 140px;}.top-nav-links h5 { font-size: 12px;} .cartcounter { min-width: 46px;}}


.top-nav-links{text-align: right;margin: 0;}
.top-nav-links li .dropdown-toggle{ display:block }
.top-nav-links .dropdown-menu{  margin:3px 0 0;}
.top-nav-links li {   vertical-align: top; position:relative;}
@media (min-width: 768px){.top-nav-links li {text-align:center;} }
@media (max-width: 767px){.top-nav-links i{margin-top: 18px;} .cartcounter span {top: 10px!important; right: 7px;}.cartcounter { min-height:auto!important; }}
.cartcounter, .signinbar, .afterSignin ,.shoppinglistbar {min-height:70px;padding:10px 7px; display:inline-block; margin-top: 2px;}
.signinbar, .afterSignin { width: 85px;}
.top-nav-links li:hover { background:#f6f5f5; border-radius:4px;}
@media (max-width:1099px){/*.top-nav-links li{padding: 0 6px;}*/}
@media (max-width:1023px){/*.top-nav-links h5,.top-nav-links p{ display:none}*/}
.top-nav-links h5{ margin:0; font-size:14px; color:#333; font-weight:bold}
.top-nav-links p{ margin:0; font-size:12px; color:#9d9d9d}
.top-nav-links i { height:21px; width:22px; }
.shoppinglistbar i{ background-position:-90px 0}
@media (max-width:1199px){ .topsearchbar { width: 56%;}.top-nav-links h5{  font-size:13px; }}
.signinbar i{ background-position:-129px 0}
.signinbar #login-dp{width: 250px; }
.cartcounter i{ background-position:-170px 0}
.cartcounter span{ background: #ff3333;border-radius: 100px;color: #fff;font-size: 9px;width: 18px;height: 18px;display: inline-block;line-height: 20px;text-align: center;position: absolute;top:22px;}
.afterSignin.signinbar i{ background-position:-399px -43px}
.afterSignin ul { }
.afterSignin ul li{ display:block; min-height:auto;text-align:left; border-bottom: 1px solid #ebebea;padding: 4px 0; font-size: 16px; color:#666}
.afterSignin ul li span{ width:20px;display: inline-block; margin-right: 20px;}
.afterSignin ul li span img{ width:100% }

.listdropdown li{border-bottom: 1px solid #ebebea;padding: 4px 0; font-size: 14px; color:#666;text-align: left;}
.listdropdown li:last-child{border-bottom: 0px ;}

.catseclist { background:#fff; margin-top:30px; }
.selling .catseclist{margin-top:0px; margin-bottom:30px}
.selling .box-heading{margin-bottom:0px;}
.selling .box-heading h3{margin:0px; font-size:20px; padding:15px 0;}
.bestselling .box-heading h3{margin:0px; font-size:20px; padding:15px 0;}
.bestselling .BrandSlider{background-color:#fff; margin-top:0px; padding:0px; margin-bottom:50px;}
.bestselling .BrandSlider .item{margin:0px;}
.bestselling .BrandSlider .owl-carousel img { width:40%; text-align:center; display:inline-block;}
@media (min-width:768px){ .catseclist { height: 403px;}}
.catlist h2{ color:#ff7403; font-size:18px; margin:20px 25px; border-bottom:3px solid #ccc;  line-height: 23px; padding-bottom:10px; }
.catlist h2 span { display:inline-block; vertical-align: middle;}
.catlist h2 .diagnosticicn { background-position:0 -37px; height:35px; width:35px; } 
.labicn { background-position:-49px -37px; height:35px; width:35px; } 
.environmenticn { background-position:-98px -37px; height:35px; width:35px; } 
.chemicalsicn { background-position:-133px -234px; height:35px; width:35px; } 
.needlesicn { background-position:-194px -234px; height:35px; width:35px; } 

.catseclist ul { margin:0; padding:0; list-style:none;}
.catseclist li a{ border-bottom:1px solid #f5f5f5; padding:6px 30px ; display:block;text-overflow: ellipsis; overflow:hidden;white-space: nowrap;}
.catseclist li:last-child a{ border-bottom:0px; }
.catseclist li a:hover { color:#ff7403; background:#f6f6f6   }
.catseclist .productwrapper img{ height:85px;}
.catseclist .rec-industry-list .productwrapper { background:#fff; display: inline-block;border: 1px solid #f1f1f1; position: relative;width: 50%;float: left;margin: 0 0 -1px 0;list-style: none;text-align: center;height: 202px;}
.bestselling .rec-industry-list .productwrapper { background:#fff; display: inline-block;border: 1px solid #f1f1f1; margin-bottom:0px;}

.selling .catseclist .rec-industry-list .productwrapper {width: 25%;}
.catseclist .rec-industry-list .productwrapper:hover, .catseclist .owl-carousel:hover .productwrapper{ box-shadow: 0 3px 6px 0 rgba(51,51,51,.3);}
.catseclist .owl-carousel .productwrapper{position: absolute;bottom: 0;background: rgba(255,255,255,0.8);width: 80%;margin: 0 auto 45px;left: 10%;}
.catseclist .owl-carousel img { height:403px}
.catseclist .owl-carousel .productwrapper .product-name { height:auto; font-size:22px;}
.catseclist .owl-carousel .productwrapper .perPiece {font-size:20px; margin-bottom: 8px;}
.catseclist .owl-carousel .productwrapper .oldPrice {font-size:18px;}
.catseclist .owl-carousel .productwrapper .discountPrice { font-size: 13px}
.catseclist .owl-carousel .productwrapper .perPiece .perp { font-size: 15px;}
@media (max-width:990px){ .catseclist li a{padding: 4px 30px;}.catseclist .rec-industry-list .productwrapper { width: 100%; }.catseclist .rec-industry-list .productwrapper:nth-child(2),.catseclist .rec-industry-list .productwrapper:nth-child(3){ display:none}}

.productwrapper {text-align: center; padding: 10px;}
.product-img { overflow:hidden; display:block;}
.product-img img{    padding: 14px 20px; }
.productwrapper img { display:inline-block;
-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.productwrapper:hover   img {
transform: scale(1.1,1.1); -o-transform: scale(1.1,1.1);-moz-transform: scale(1.1,1.1);-webkit-transform: scale(1.1,1.1);  }
.filter-rgt .productwrapper:hover img {transform: none; -o-transform: none;-moz-transform: none;-webkit-transform: none;  }
.productwrapper .product-name{ font-size: 13px; line-height: 16px;height: 50px;overflow: hidden;padding: 10px 0px;}
.productwrapper .perPiece .perp{ color:#999999; font-size:12px; font-weight:normal;margin-left: 6px;}
.productwrapper .perPiece { font-size:18px; font-weight:700;}
.rec-industry-list .productwrapper .perPiece { font-size:15px; }
.rec-industry-list .productwrapper .oldPrice { font-size:12px; }
.rec-industry-list .productwrapper .discountPrice {font-size: 10px;}
.productwrapper .oldPrice { text-decoration:line-through; color:#000;}
.productwrapper .discountPrice { background:#eb2712; font-size:10px; color:#fff; display:inline-block; padding: 2px 8px; margin:0 6px; border-radius: 4px;}
@media (min-width: 1100px){
	/*.filter-rgt .productwrapper .perPiece {font-weight: 500;font-size: 23px;}
	.filter-rgt .productwrapper .discountPrice {font-size: 13px; padding: 3px 10px;}
	.filter-rgt .productwrapper .oldPrice{font-size: 18px;}
	.filter-rgt .productwrapper .perPiece .perp { font-size: 15px;}*/
	.filter-rgt .productwrapper .oldPrice{font-size: 12px;}
	.filter-rgt .productwrapper .perPiece .perp { font-size: 12px;    color: #8a8686;}
}

.right-caret {border-bottom: 4px solid transparent;border-top: 4px solid transparent;border-left: 4px solid #ff7403;display: inline-block;height: 0;vertical-align: top;width: 0;}

.seeAll { color:#000; text-decoration:none!important; color:#000}
.seeAll .right-caret { margin-top:5px; margin-left: 5px; }

.ProductSlider, .BrandSlider { background:#dedede; margin-top:30px; padding:23px 30px 6px}
.ProductSlider  h2, .BrandSlider h2{ margin:0; color:#353535; font-size:20px;   margin-bottom:15px; font-weight:bold}
.ProductSlider .item  { background:#fff; margin:10px}
.BrandSlider .item  {margin:5px}
.ProductSlider .pricehld { background:#f2f2f2; padding:20px 10px}
.ProductSlider .productwrapper { padding:0px}
.BrandSlider .owl-item img{ margin-bottom:10px}

.sellOnMedibridge {  background:#3b658c url(../images/bg-sell.jpg) repeat 0 0; color:#fff; text-align:center; padding:40px 0; margin:30px 0; box-shadow: 0px 0px 90px rgba(0,0,0,0.6) inset;-moz-box-shadow: 0px 0px 90px rgba(0,0,0,0.6) inset;-webkit-box-shadow: 0px 0px 90px rgba(0,0,0,0.6) inset;}
.sellOnMedibridge h2{ font-size:60px; font-weight:700; margin:0 0 20px  0}
.sellOnMedibridge ul { margin:0 0 30px 0; padding:0; font-size:16px;}
.sellOnMedibridge li { display:inline-block; margin: 0 10px;}
.sellOnMedibridge .btn{ font-size:18px;padding: 10px 25px;}

.yellobtn { background:#ffda10; font-size:16px; font-weight:500; color:#000; border-color:#ffda10; }
.yellobtn:hover { background:#f6c124; border-color:#f6c124;color:#000;  }

.footercolmn { background:#fff; padding:50px 0; text-align:center; margin:30px 0 0;   }
.footercolmn ul { margin:0; padding:0}
.footercolmn li{list-style: none;padding: 0 1%;vertical-align: top;;padding: 10px;}
@media (min-width: 768px){ .footercolmn li{width: 20%; border-right: 1px solid #d3d3d3; min-height: 250px; float: left;display: inline-block;}.footercolmn h4 {min-height: 40px;}  } 
.footercolmn li:hover{ background:#f1f1f1}
.footercolmn li:last-child{ border:none; }
.footercolmn h4{ font-size: 18px;font-weight: 700;margin:20px 0; }
.footercolmn p{ color:#858585;    font-size: 13px;}
.frupeeicn, .fdelvicn, .fsafeicn, .fshopicn, .fhelpicn{ width: 78px;height: 77px;}
.frupeeicn { background-position: 2px -93px;}  
.fdelvicn { background-position: -79px -93px;}  
.fsafeicn { background-position: -165px -93px;}  
.fshopicn { background-position:-245px -93px;}  
.fhelpicn { background-position: -322px -93px;}  

footer { background:#f3f3f3; padding:50px 0 0; color:#000; font-size:12px;}
footer ul{ padding:0; margin:0; list-style:none; font-size:12px}
@media (max-width: 767px){ footer ul {margin-bottom: 30px;}}
footer .footer-top li{ padding:5px 0; }
footer a {color:#666;}footer a:hover {color:#000;}
.footerheading { font-size:17px; margin:0 0 20px;color:#000;}
.subscriptionhld { border-bottom:1px solid #707070; margin-bottom:20px;}
.subscriptionhld .form-control, .subscriptionhld .btn{height: 50px;}
.subscriptionhld .btn{ background:#8C8B8B; color:#fff;}

.flocation, .fcall, .fmail{ width:31px; height:22px; background-position:-235px 0;vertical-align: middle; }
.fcall {background-position:-267px 0;}
.fmail {background-position:-302px 0;}

.social-icons  {  border-top: 1px solid #777777;  padding-top: 15px; }
.social-icons a{width:28px; height:30px;}
.social-icons li { display:inline-block}
.gmailicn, .facebbokicn, .twitericn, .instaicn{  margin: 0 6px 0 0; }
.gmailicn{background-position:-179px -41px;}
.gmailicn:hover {background-position:-149px -41px;}

.facebbokicn{background-position:-237px -41px;}
.facebbokicn:hover {background-position:-208px -41px;}

.twitericn{background-position:-295px -41px;}
.twitericn:hover {background-position:-266px -41px;}

.instaicn{background-position:-353px -41px;}
.instaicn:hover {background-position:-324px -41px;}

.footerTab { font-size:14px;color:#7A7A7A;margin-top: 20px; background:#fff;     padding: 20px 0;}
.footerTab .nav-tabs{ font-size: 18px; }
.footerTab .nav-tabs>li>a { font-size: 15px; border-radius: 0; color:#606060}
.footerTab .nav-tabs>li>a:hover { color:#000}
.footerTab .tab-content{ background:#fff; padding:30px; width:100%;    min-height: 170px;}
.footerTab .tab-pane a{color:#7A7A7A}.footerTab .tab-pane a:hover{color:#000}
.footerTab .tab-pane li { margin-bottom:5px;padding-left: 15px;position: relative;}
.footerTab .tab-pane li:before { content:'.'; position: absolute; left: 0;font-weight: bold;font-size: 22px; line-height: 10px;}
@media (min-width: 768px){.footerTab .tab-pane ul {-moz-column-count: 5; -webkit-column-count: 5;  column-count: 5;}}

.scrollup {width: 40px;height: 40px;position: fixed;bottom: 50px;right:50px;display: none;text-indent: -9999px;background: url(../images/sprite.png) no-repeat;background-position:-327px 12px;background-color: #000;z-index: 21;transform: rotate(270deg);}
@media(max-width:1023px){.scrollup {right:10px;}}
/*login dropedown*/
#login-dp{min-width: 250px;padding: 14px 14px 0; background-color:#fff;border-radius: 0;}
#login-dp .help-block{font-size:12px}
#login-dp .bottom{background-color:rgba(255,255,255,.9);border-top:1px solid #ddd;clear:both;padding:14px;}
#login-dp .social-buttons{margin:12px 0}
#login-dp .social-buttons a{width: 49%;}
#login-dp .form-group {margin-bottom: 10px;}
.btn-fb{color: #fff;background-color:#3b5998;}
.btn-fb:hover{color: #fff;background-color:#496ebc }
.btn-tw{color: #fff;background-color:#55acee;}
.btn-tw:hover{color: #fff;background-color:#59b5fa;}
@media(max-width:768px){#login-dp{	background-color: inherit;	color: #fff;}
#login-dp .bottom{background-color: inherit;	border-top:0 none;}
}
@media (min-width: 768px){
.top-nav-links .dropdown-menu {right: 0;left: auto;}}
.top-nav-links .dropdown li:hover { background:transparent}
.dropdown ul.dropdown-menu:before {content: "";border-bottom: 10px solid #fff;border-right: 10px solid transparent;border-left: 10px solid transparent;position: absolute;top: -10px;right: 16px;z-index: 10;}
.dropdown ul.dropdown-menu:after {content: "";border-bottom: 12px solid #d5d5d5;border-right: 12px solid transparent;border-left: 12px solid transparent;position: absolute;top: -12px;right: 14px;z-index: 9;}
.signinbar.open { background:#f6f5f5;}
.top-nav-links .dropdown-menu { padding:15px; }

/* Breadcrumbs css*/
.breadcrumb>li { position:relative;padding-right: 20px;}
.breadcrumb { background:none; margin-top:5px; margin-bottom:5px; font-size:11px;}
.breadcrumb li a{ color:#999999;}.breadcrumb li a:hover{ color:#000 }
.breadcrumb li.active { color:#000}
.breadcrumb > li + li:before { left: -21px;color: #CCCCCC;content:'';  background:url(../images/sprite.png) no-repeat -471px -54px; transform: rotate(266deg);padding: 0 10px;    width: 20px;    height: 20px;position: absolute;}

/*Filter*******************/
.filter-options {background: #fff; }
.filter-options .tname{ background:#f3f3f2; border-bottom:1px solid #d1d1d1; padding: 12px 20px;  margin: 0; font-size:16px; color:#000; text-transform:uppercase; cursor:pointer;}
.filter-options .tname span{ width:13px; height:13px; background-position:-446px -55px; float: right;transform: rotate(180deg);}
.filter-options .tname.closed span{ transform: rotate(0deg);}
.filteroption { background:#fff; padding:10px 10px 20px 20px;}
.filteroption ul{ margin:0; padding:0; list-style:none;}
.filteroption li .countresult { color:#ff9c1c;}
.filteroption li input[type="checkbox"]{ margin-right:15px;}
.filteroption li{line-height: 21px;}

.filtersection { min-height:1000px;margin-bottom: 30px;}
.filter-rgt { min-height:1000px; padding:0 15px }

.filter-selected { margin:0 0 10px 15px;padding: 0px; position:relative;font-size: 12px;}
.filter-selected h4{ margin:0; padding:10px 0; border-bottom:1px solid #d0d2d5; text-transform:uppercase; font-size:16px; font-weight:700;  }
.filter-selected ul{ padding: 0;}
.filter-selected b{ font-weight:700}
.filter-selected b { margin-right: 6px;}
.filter-selected .filselected { padding:0px; border-radius: 4px; font-size: 11px; margin-right: 25px;padding-right: 10px;position: relative; display: inline-block;margin-bottom:5px;}
.filter-selected .filselected i{ cursor:pointer; width: 11px;height: 11px;display: inline-block; position: absolute;border-radius: 50px;color: #333333; text-align: center;font-size: 9px; line-height: 12px;right: -13px; top: 1px; }
.filter-selected li { padding:  0;   position:relative;      }
.filter-selected li:last-child { /*border-bottom:none; margin-bottom:0*/ }
.filter-selected   .selClose{ cursor:pointer; width: 14px;height: 14px; right: 0px; background-position:-421px -100px; position:absolute; }
.filtertext { width:20%;}
.filtertextsel {  width:79%;}
.filtertext, .filtertextsel { display:inline-block; vertical-align:top}
/* Checkbox css start*/

/*Checkbox css end*/


/*controls*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.glyphicon { margin-right:5px; }
.thumbnail{margin-bottom: 20px;padding: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.item.list-group-item{ float: none;width: 100%;background-color: transparent;  padding: 0 15px; border:none;}
.item.list-group-item .list-group-image{margin-right: 10px;}
.item.list-group-item .thumbnail{margin-bottom: 0px;}
.item.list-group-item .caption{padding: 9px 9px 0px 9px;}
.item.list-group-item .product-info {    min-height: 200px; margin-left:210px}
.item.list-group-item:nth-of-type(odd){  }
.item.list-group-item .productwrapper{padding: 15px; text-align: left;}
.item.list-group-item:before, .item.list-group-item:after{display: table; content: " ";}

.item.list-group-item .thumbnail-img { margin-right:30px; width: 210px; z-index:1}
.item.list-group-item img{float: left; border:1px solid #E9E9E9;}
.list-group-item .productwrapper .product-name { height:auto; padding:15px 0; font-size:20px;}
.item.list-group-item:after{clear: both;}
.list-group-item-text{ margin: 0 0 11px;}
.list-group-item .thumbnail-img { float:left}
.filter-rgt .pricehld { background:#f2f2f2; padding :10px; }
.filter-rgt .productwrapper { background: #fff;position: relative;overflow: hidden;margin-left: 15px;padding: 10px;border: 1px solid #dedddd; margin-bottom: 15px; }
.filter-rgt .productwrapper:hover { box-shadow:2px 2px 6px #ccc;  }

 

.filter-rgt .ml { border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5}
.filter-rgt .compare , .filter-rgt .ml{ background: #fff; padding:6px 10px;font-size: 12px;}
.filter-rgt .compare {    padding: 8px 10px 0;}
.compare  .checkbox,.compare  .radio { margin:0}


.product-item-photo:before { content: "";display: block;position: absolute;width: 100%;height: 100%;background: /*rgba(255,156,28,0.8)*/rgba(185, 185, 185, 0.8);opacity: 0;}
.productwrapper .box-hover { position: absolute;display: inline-block;top:0;left: 0;right: 0; bottom:0; text-align: center;-webkit-transition: all 0.4s ease-out;-moz-transition: all 0.4s ease-out;-ms-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;z-index: 1;opacity: 0;}
.productwrapper:hover .product-item-photo:before {z-index: 2;opacity: 1;}
.product-item-photo {display: block;width: 100%;padding: 0;}
.thumbnail-img {position: relative;overflow: hidden; }
.filter-rgt .productwrapper .product-name{ }
.productwrapper:hover .box-hover {/*.productwrapper:hover .box-hover { */ /*top: 35%;*/ opacity: 2;  z-index: 3;  min-height: 110px;top: 0; left: 0; bottom: 0; right: 0; margin: auto; }
.product-item-photo img{ /*max-height:150px;*/   }

.box-hover .btn-viewDetail {background:transparent;   border:2px solid #fff; opacity:0; top:40%}
.productwrapper:hover .box-hover  .btn-viewDetail { opacity:1}
.box-hover .btn-viewDetail:hover {  }
.box-hover .btn-addToCart {background: #949494 !important; opacity:0; bottom:20% }
.box-hover .btn-addToCart:hover {}
.productwrapper:hover .box-hover  .btn-addToCart  {color: #fff; opacity:1  }
.productwrapper { margin-bottom:30px}

.box-hover .btn-viewDetail, .box-hover  .btn-addToCart { 
	left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding: 0;
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 5px 4px 5px;
    width: 140px;
    font-size: 12px;
	-webkit-transition: all 0.4s ease-out;-moz-transition: all 0.4s ease-out;-ms-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;
	}
.box-hover .btn-viewDetail:hover,  .box-hover .btn-addToCart:hover {color: #fff;}
.box-hover .btn-addToCart:before{ width:22px; height:20px; background:url(../images/sprite.png) no-repeat -449px -99px;content: "";font-size: 20px;display: inline-block;margin-right:8px;vertical-align: middle;font-weight: normal;}
.box-hover .btn-viewDetail span { display: inline-block; vertical-align: middle;}


/*Categories filter*/
.categoriesfilter { margin-top: 10px; }
.categoriesfilter h3{  }
.categoriesfilter h4.subdropdown{     background: #f3f3f2;
    border-bottom: 1px solid #d1d1d1;    padding: 12px 20px;margin-bottom:20px;font-size: 16px;color: #000;}
.categoriesfilter .headingcat {  position:relative;   cursor:pointer;}
.categoriesfilter .closed ul{ display:none}
.categoriesfilter ul{ padding-left:20px; font-size: 14px; }
.categoriesfilter .subdropdown:before { content:''; position:absolute; background:url(../images/sprite.png) no-repeat -476px  -56px; width:20px; height:20px;left: -20px; transform: rotate(362deg);}

.categoriesfilter  .closed .subdropdown:before {background-position:-471px -54px;    transform: rotate(266deg);}
.categoriesfilter .subdropdown {margin: 0 0 10px 0; position: relative; cursor:pointer; font-weight:bold;font-size:14px; color:#333}
.categoriesfilter .subdropdown li{    line-height: 16px;margin-bottom: 5px;}
.categoriesfilter ul {     margin-bottom: 10px;margin-top: 10px;}
ul.categoriesfilter  li ul li{ font-size:14px;}
.categoriesfilter ul .active a{ color:#ff7403; font-weight:bold }
.categoriesfilter ul a {color:#666666;}
.categoriesfilter li { margin-bottom:4px; line-height: 18px;}

.viewsec { display:inline-table;color: #999999; }
@media (max-width: 990px){.viewsec {background: #f3f3f3;padding: 3px 3px 3px 10px;margin-right: 8px; display:block }.comparesec{float: none !important;margin-bottom: 4px;padding: 0 0 4px 0; border-bottom:1px solid #f3f3f3}}
.viewsec .btn{background: transparent;border: 0px;}
.viewsec .glyphicon { font-size:24px;color: #cccccc;}
.viewsec .active .glyphicon {color: #ff7403;}
.viewsec .btn-sm { padding: 5px 5px;}
.well-sm { border-radius:0px; background: #fff;}


.buyerTips, .buyerprotection { background:#fff; padding:20px;}
.buyerTips h4, .buyerprotection h4 { padding: 0 0 0 35px;padding: 0 0 0 47px;position:relative; font-size:20px; text-transform:uppercase; line-height: 42px; margin-bottom: 22px;}
.buyerTips h4:before, .buyerprotection h4:before{content:''; position:absolute; background:url(../images/sprite.png) no-repeat -0px -171px; width:35px; height:38px;left: 0; }
.buyerprotection h4:before{ background-position:-52px -171px ; }
 

.buyerprotection .list-orangeRoundArrow  ,  .buyerTips .list-orangeArrow   {padding-left: 46px; color: #666666;}
.list-orangeRoundArrow li, .list-orangeArrow li, .list-grayArrow li {padding-left:25px; position:relative; margin-bottom: 8px;}
.list-orangeArrow li:before, .list-orangeRoundArrow li:before, .list-grayArrow li:before{left: 0; content:''; position:absolute; width:20px; height:20px; background:url(../images/sprite.png) no-repeat -459px -138px;}
.list-orangeRoundArrow li:before{ background-position:-419px -138px;}
.list-grayArrow li:before {background-position:-490px -184px;} 

.pagination>li>a, .pagination>li>span { color:#000}

/*Slider filter price range*/
.ui-slider-horizontal { height: 5px!important;}
.ui-widget-header {    border: 1px solid #ff7403!important;background: #ff7403!important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: 1px solid #3b658c!important;background: #3b658c!important;border-radius: 50px;}
.ui-slider-horizontal .ui-slider-handle {top: -7px;}
.price-slider { padding:30px 20px }
#slider-range{ margin-top:15px;}
.rangeinputslider li{ display:inline-block; color:#c1c1c1; position:relative }
.rangeinputslider li input{ border:1px solid #c1c1c1; width:90px; padding-left:20px; color:#000;  }
.rangeinputslider li span{font-size: 16px;color: #ff7403;position: absolute;left: 8px; top: 2px; }

.clearAll { color:#3399ff;text-decoration: underline;    display: inline-block; }
.headingcat.closed ul{ display:none}

.searchresultsecfilter { padding:4px 16px; background:#606060; color:#fff;  overflow: hidden;    margin-left: 15px;}
.searchresultsecfilter h4{ float:left; font-size:16px;}.searchresultsecfilter h4 span{ color:#ff7403;  }.searchresultsecfilter h5{ float:right; font-size:13px;}

.filterview { overflow:hidden; background:#fff; padding: 8px 0px; margin-left:15px;}
.comparesec { float:left;padding-left: 10px;} .viewsec { float:right;    }
.comparesec li { display:inline-block; border:1px solid #999999;margin-right: 8px; position:relative; cursor:pointer}
.comparesec li img{ width:35px; height:35px;-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.comparesec li .imghover{ font-family: arial;background: rgba(255,255,255,0.9); color: #ff3300;font-size: 32px;top:-35px;position:absolute;width:35px; height:35px;line-height: 31px; text-align: center; opacity:0}
.comparesec li:hover .imghover{  top:0; opacity:1 }
.comparesec ul { display:inline-block; margin:0 10px}
.comparesec span { color:#000}
.comparesec .prompt {margin-left: 10px; color:#7a7a7a;}
.productwrap { margin-top:18px;}
@media (min-width: 768px){ 
.productwrap .item{ padding:0 }}
.comparesec li img, .addtolistpopup  {-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}

.shoppinlistcomparef { position:relative} 
.addtolistpopup { background:#f2f2f2; padding:8px;left: 0;right: 0; bottom:0; height: 100%;top: 1px;position: absolute; display:none; }
.addtolistpopup input{padding:5px 10px; margin:15px 0  0px 0; border: 1px solid #d5d5d5; width: 100%;}
.addtolistpopup .close { font-size: 11px;position: absolute;right:2px;top: 3px;}
.shoppinlistcomparef .btn{ 
	min-width: 140px;
	font-size: 16px;
	margin: 18px 0 0 0;
	padding: 4px 12px;
	border: 2px solid #838383;
	background-color: transparent;
	color: #3F3F3F;
}

.form-control { border-radius:0px;}
.form-control:active, .form-control:focus  { border:1px solid #999; box-shadow:none;}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
color: #ff7403; border: 1px solid #ccc;background-color: #fff;border-color: #ccc;}

.filter-ipad-btn { float:right;  margin-right: 10px;}
 
.grayticklist {padding-left: 10px; color: #666666;}
.grayticklist li {padding-left:25px; position:relative; margin-bottom: 10px; color:#000}.grayticklist li a{ color:#000}
.grayticklist li:before {left: 0; content:''; position:absolute; width:20px; height:20px; background:url(../images/sprite.png) no-repeat -489px -99px;}

/*input field animation*/
/* Sae */
.input--sae {
	overflow: hidden;
	width: 200px;
	 
	border: 1px solid #999999;
    background: #fff;
	border-radius:4px;
}

.input__field--sae {
	background: transparent;
	width: 100%;
	color: #fff;
	padding: 0.6em 0 0;
	 
}

.input__label--sae {
	position: absolute;
	width: 100%;
	text-align: left;
	color: #fff;
	padding: 0;
	height: 100%;
	pointer-events: none;
}

.input__label--sae::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #fff;
	bottom: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.icon--sae {
	position: absolute;
	bottom: 0;
	font-size: 1em;
	opacity: 0.5;
	left: -30px;
	color: #fff;
	pointer-events: none;
	-webkit-transform: translate3d(205px, 0, 0);
	transform: translate3d(205px, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--sae {
	padding: 0;
	font-size: 14px;
	display: inline-block;
	vertical-align: bottom;
	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	
	-webkit-transform: translate3d(0, 12px, 0);
	-moz-transform: translate3d(0, 12px, 0);
	transform: translate3d(0, 12px, 0);
	
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--sae:focus + .input__label--sae .input__label-content--sae,
.input--filled .input__label-content--sae {
	-webkit-transform: translate3d(0, 4px, 0) scale3d(0.9, 0.9, 1);
	transform: translate3d(0, 4px, 0) scale3d(0.9, 0.9, 1);
}

.input__field--sae:focus + .input__label--sae::after,
.input--filled .input__label--sae::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--sae:focus + .input__label--sae .icon--sae,
.input--filled .icon--sae {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
	-webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -90deg);
	transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -90deg);
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 350px;
	min-width: 350px;
	width: 100%;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 18px 10px 5px 10px;
	border: none;
	border-radius: 0;
	background: #fff;
	color: #000;
	-webkit-appearance: none; 
	font-size: 16px;
	font-weight:normal
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 100%;
	color:  #bdbcbc;
	font-weight: normal;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	/*padding: 1.6em 0;*/
	width: 100%;
}
/*end*/

.loginhld h3{ margin:0 0 20px 0; text-align:left; display:block; font-size: 20px; font-weight: bold;}
@media (min-width: 768px){.loginLeftPanel, .loginRightPanel { min-height:660px;}}
@media (max-width: 767px){.loginLeftPanel .tab-content { padding:20px 0!important}}
.loginLeftPanel { background:url(../images/login-bg.jpg) no-repeat 0 0;    background-size: cover;}
.loginRightPanel { background:#f8f8f8; padding:6% 40px 0 5%;}
.loginLeftPanel .nav-tabs>li>a{ border-radius:0px;}
.loginLeftPanel .nav-tabs>li { width:50%}
.loginRightPanel .grayticklist li{    color: #333;}
.loginRightPanel .applynow{color:#0199d5; font-size:16px; margin-top: 20px; float: right; }
.loginRightPanel .applynow:hover{color:#000;}
.loginRightPanel .featurelogin {padding-top: 20px;margin: 20px 0 20px;border-top:1px solid #ddd}
.resendotp { color:#09F; text-align:right; margin-top: -10px; margin-bottom: 10px;}
.otpwrap { display:none}

.errormsgwrap { position:relative}.errormsgwrap .errormsg{display:block }
.errormsg {color: #B94A48; padding-right: 4px;position: absolute;right: 0;top: 16px;z-index: 11;font-size: 12px; display:none}
.errormsgwrap .input--sae{border: 1px solid #b94a48; }

.loginLeftPanel .nav-tabs>li.active>a, 
.loginLeftPanel .nav-tabs>li.active>a:focus, 
.loginLeftPanel .nav-tabs>li.active>a:hover, 
.loginLeftPanel .nav-tabs>li>a{ background-color:#e6e6e6;border-bottom-color: transparent;font-size: 18px;text-transform: uppercase;}
.loginLeftPanel .nav-tabs>li.active>a, 
.loginLeftPanel .nav-tabs>li.active>a:focus, 
.loginLeftPanel .nav-tabs>li.active>a:hover {color: #fff; background-color: #ff7403;border: 1px solid #ff7403;}
.loginLeftPanel .nav-tabs>li>a { margin-right: 0;}
.loginLeftPanel .tab-content { padding:  0}

.loginRightPanel h3{ font-size:22px; color: #000; margin-bottom:20px;}
.loginRightPanel h4{font-size: 18px;color: #333;  margin-bottom: 20px; font-weight:700;padding-left: 33px;}
.loginhld {margin: 0 auto;background: rgba(255,255,255,0.9);display: inline-block; padding: 30px; border-radius: 6px; max-width: 410px;}
.loginhld input[type="button"]{ width:100%;border-radius: 3px; padding: 10px 0;max-width:350px;    font-size: 16px;}
.newcustomertext { font-size: 13px;color: #000;margin:20px 0  0px;background: #fff;padding: 13px;border: 1px solid #ccc;}
.loginhld label.text-left{ font-weight:normal}
.newcustomertext a { color:#0199d5; font-weight:bold }
.loginhld .bluebtn { min-width:150px}
.termstext { color:#3b99fc;   margin-left: 10px;}
.loginhld  .forgot-password {display: block;text-align: right;   margin: -8px 0 20px 0;}
.retrieve-password { display:none}
.retrieve-password p { margin-bottom:20px}

@media (min-width:768px){
.loginLeftPanel {
    height:660px;
    text-align: center;  /* align the inline(-block) elements horizontally */
          /* remove the gap between inline(-block) elements */
}
.loginLeftPanel:before {      /* create a full-height inline block pseudo-element */
    content: '';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}
.tab-content {display: inline-block; vertical-align: middle; }
}


.selectedlistbtn{ padding:20px; background:#fff; margin-bottom:10px;}
.selectedlistbtn .btn { width:100%; border-radius: 4px; font-size: 16px;padding: 16px 10px;}

/*varient table*/
.othervarientbl{margin-top:-30px;}
.othervarientbl h4 { margin-bottom:20px; font-size:20px; font-weight:bold}
.othervarientbl .table { border:1px solid #ccc;}
.othervarientbl .table td { vertical-align:middle!important;    padding: 15px 8px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(247,247,247,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0 );}
.othervarientbl .table { margin-bottom:0}
.othervarientbl .table  th {font-size: 16px; background:#f2f2f2; padding-top:15px; padding-bottom:15px; color:#000;}
.othervarientbl .varientimg {/* padding-left: 15px;*/ width:80px;}
.othervarientbl .varientimg img{ width:60px; height:60px; border:1px solid #ccc; }
.othervarientbl .varientbtn {    width: 150px;}
.othervarientbl.varientdic {width: 150px;}
.othervarientbl .varientbtn  .btn { width:120px;}
.othervarientbl .varientcode a { color:#1c78bf;font-size: 12px;}
.othervarientbl .moredtl {color:#1c78bf; display:block;margin-top: 7px;font-size: 12px;}
.othervarientbl .productwrapper { margin-bottom:0; padding: 0; text-align: left;}
.othervarientbl .varientprice { /*   width: 200px; */}
.othervarientbl .varientname {width: 150px;}
.othervarientbl .varientquantity {width: 120px; }
.othervarientbl .varientcode { width: 120px;}
.othervarientbl .textbox{font-size:10px;}

.quantitywrap { width: 110px;}
.quantitywrap .qty {width: 40px;height: 25px;text-align: center;border: none;font-size: 18px;color: #d92133;}
.quantitywrap input.qtyplus { width:25px; height:25px;}
.quantitywrap input.qtyplus, .quantitywrap input.qtyminus{width: 25px;height: 25px;border: 1px solid #ccc;background: #fff;line-height: 13px;font-size:23px;text-align: center;padding: 0;border-radius: 50px;}
.quantitywrap input.qtyminus { width:25px; height:25px;font-size:31px;}

/*Product details section*/
.productDetailssec { background:#fff}

.proddtlSellerInfo {background:#f6f6f6; border:1px solid #cecece; padding: 25px;  min-width: 298px;margin-top: 46px;}
.proddtlSellerInfo h2{ margin: 0;font-size: 20px;margin-bottom: 25px;color: #000;border-bottom: 6px solid #e2e2e2;padding-bottom: 15px;}
.soldbysec { color:#000}
.dtlratings {margin-top: 20px; padding-top: 10px; border-top: 1px solid #ccc; line-height: 25px; color:#000;}
.dtlratings h4{ font-size: 15px;    margin-bottom: 20px;}
.dtlratings h5{ }
.varifiedimg { background-position:0 -222px; width:50px; height:60px;}
.varifyicn { width:70px; display:inline-block;float: right; position: relative;margin-top: -16px;}

.star-ratings { }
.star-ratings li{ display:inline-block; width:14px; height:14px; background:url(../images/sprite.png) no-repeat -344px -198px ; }
.star-ratings li.active{ background-position:-314px -198px }
.star-ratings.large li{ display:inline-block; width:24px; height:24px;background-position:-269px -189px; }
.star-ratings.large li.active{ background-position:-227px -189px; }

.reviewcount { font-size:35px; color:#24b83c; font-weight:500;}
.reviewstatus { display:block;}
.overallratingpanel { font-size:13px;}

.productdtlspecify .nav-tabs { text-transform:uppercase}
.productdtlspecify .nav-tabs>li>a { font-weight:bold; font-size:14px;}
.productdtlspecify .nav-tabs>li.active>a {    color: #ff7403; }
.productdtlspecify .tab-content{width: 100%;border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;overflow-y: auto;  max-height: 350px;  min-height:450px; width: 100%;}
#productdtl {  padding:35px }
.productdtlspecify .tab-content .specitproductname{ font-size:24px; margin: 0 0 10px;}
.productdtlspecify .tab-content h3.specy{ font-size:16px; color:#999999; margin:0; margin-bottom:30px; }
.downloadpdf {float:right;font-size: 11px;}.downloadpdf .sprite{ width:25px; background-position:-454px -179px; height: 34px; }.downloadpdf span { margin-left: 5px;display:inline-block;     vertical-align: middle;}
.downloadpdf a{ color:#656565;display: block;}.downloadpdf a:hover{ color:#000 }
.packagingbox { margin-top: 20px;border: 1px solid #cbcbcb;display: inline-block;padding: 10px; font-size: 13px;line-height: 23px;}
.prouctdtl { margin:30px 0}
#specificationdtl .table-striped{ margin-bottom:0}
#specificationdtl .table-striped th { width:40%; border-right:1px solid #cccccc; padding-left:30px}
#specificationdtl .table-striped td {padding-left:30px }
#specificationdtl .specitproductname{padding:35px }

#sync1 {border:1px solid #b9b9b9; margin-bottom: 6px;}
#sync2 .item{ width:50px; cursor:pointer; border:1px solid #b9b9b9;  }
#sync2 .synced .item{border:1px solid #ff7403;}

  .prodtdtlheading { margin: 0;font-size: 26px;margin-bottom: 25px;color: #000;border-bottom: 3px solid #ebebeb;padding-bottom: 15px;}
  .prodtdtlheading span{ display:block; color:#38b75c; font-size:16px;margin-top: 10px;}
@media (max-width:767px){ .productdtlwrap { margin-top:35px;} .prodtdtlheading {font-size: 20px;}}

.productdtlwrap .nav li a{/*padding:0px;*/ border-radius:0px;}
.prodctPricehld { margin-bottom:20px; overflow:hidden}
.prodctPricehld li { border:1px solid #d3d3d3; display:inline-block;width: 24%;float: left; min-height: auto; background:#f7f7f7;}
.prodctPricehld .productwrapper{ margin-bottom:0; padding:6px; text-align: left; min-height: 90px;}
.prodctPricehld .productwrapper .perPiece .perp { display:block; font-size: 10px;}
.prodctPricehld .qutyperprice { font-size:10px; color:#a0a0a0;margin-bottom: 6px;}
.prodctPricehld li.active {background: #fff;  }
.prodctPricehld li.active a, .prodctPricehld li.active a:hover{background-color:#fff;}
.prodctPricehld li.active .productwrapper .perPiece { color:#ff0033; font-size:17px;}
.prodctPricehld li .productwrapper .perPiece { font-size:15px;}
.prodctPricehld .productwrapper .discountPrice {padding: 2px 3px;}

.viewalloffer { margin-bottom:20px;  }
.viewalloffer span{ display:inline-block;vertical-align: middle; }
.viewalloffer .sprite {background-position:-163px -183px; width:42px; height:30px; }

.dtlquantity { padding-top:20px; font-size:12px; color:#878787;padding-bottom: 30px; }
.dtlquantity .quantitywrap input.qtyminus,.dtlquantity .quantitywrap input.qtyplus,.dtlquantity .quantitywrap .qty  { width:35px; height:35px;vertical-align: middle;}
.dtlquantity .quantitywrap { width:auto}
.dtlquantity .quantitywrap .qty { font-size:26px;width:40px;}
.pricehld .btn{ width:49%; font-size:17px;padding: 11px 0;}
.pricehld .dtlBuyNowBtn { padding: 13px 0;}
.border_btm { border-top: 1px solid #e5e5e5;}
.dtladdToCartBtn  .sprite{ width:25px; height:21px; background-position:-375px -190px;}
.dtladdToCartBtn  span{ vertical-align: middle;    display: inline-block;}
	
.proddtlwrap  { margin:25px 0}
.proddtlwrap h5{ color:#000; font-size: 14px;}
.returnpolicyhld p{ color:#333333; }
.returnpolicyhld {margin-top: 20px;}
.returnpolicyhld a { color:#333333;}
.productDetailssec .buyerprotection { background:#f2f2f2;padding: 10px;}
@media (min-width: 992px) {.proddtlright { border-left:1px solid #e5e5e5;   /* min-height: 424px;*/ }}

.productDetailssec .buyerprotection h4 { margin-bottom:10px;color: #000; font-size:17px;}
.productDetailssec .buyerprotection h4:before { background-position: -103px -172px;}

.paymentcard li{ display:inline-block;margin-right:8px;}

.dtlmanufacture { margin-bottom:20px}.dtlmanufacture li{ margin-bottom:8px}
.tags{background:#f2f2f2; padding:15px; font-size:16px; margin-bottom:20px;}
.tags ul{list-style:none;}
.tags ul li{display:inline-block; margin:3px 2px;}
.tags ul li a{ font-size: 11px; margin: 0px; line-height: 18px; display: block; padding: 0px 4px; border: 1px solid #ccc; }
.tags ul li a:hover{background-color:#D8D8D8;}
.brand100 {margin-bottom:20px}
.sku { background:#f2f2f2; padding:15px; font-size:16px;}
.pincodewrap p { font-size:12px;}
.pincodewrap .input-group{ margin:15px 0; position:relative;}
.pincodewrap .form-control{ padding-left: 35px; height: 44px;}.pincodewrap .btn{height: 44px; }
.pincodewrap  span.sprite{ position:absolute; width:15px; height:22px;  z-index:25; background-position:-420px -188px;top: 10px;    left: 12px; }


/**/
/*Categories filter*/
.vertical-navbar { }
.vertical-navbar h3{ font-size:14px; }
.vertical-navbar h4.subdropdown{ margin-bottom:20px;font-size: 16px;color: #000;}
.vertical-navbar .headingcat {  position:relative;   cursor:pointer;}
.vertical-navbar .closed ul{ display:none}
.vertical-navbar ul{ font-size: 14px; }
.vertical-navbar .subdropdown:before { content:''; position:absolute; background:url(../images/sprite.png) no-repeat -476px  -56px; width:20px; height:20px;right: 0px;}

.vertical-navbar  .closed .subdropdown:before {background-position:-471px -54px;    transform: rotate(266deg);}
.vertical-navbar .subdropdown {margin: 0 0 10px 0; position: relative; cursor:pointer}
.vertical-navbar ul { }
ul.vertical-navbar  li ul li{ font-size:14px;}
.vertical-navbar ul .active a{ color:#ff7403; font-weight:bold }
.vertical-navbar ul a {color:#666666;}
.vertical-navbar li {   }


/*Checbox style*/
/* RADIOS & CHECKBOXES STYLES */

/* base styles */
input[type="radio"], 
input[type="checkbox"] {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(#FCFCFC, #fff);
    -webkit-appearance: none;
 
    -webkit-transition: box-shadow 200ms;
   /*  box-shadow:inset 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.1);*/
}

/* border radius for radio*/
input[type="radio"] {
    -webkit-border-radius:100%;
    border-radius:100%;
}
.checkbox label, .radio label{
    line-height: 16px;    padding-left: 26px;}
/* border radius for checkbox */
input[type="checkbox"] {
    -webkit-border-radius:1px;
	 -moz-border-radius:1px;
    border-radius:1px;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: -26px;
}

/* hover state */
input[type="radio"]:not(:disabled):hover,
input[type="checkbox"]:not(:disabled):hover {
    border-color:rgba(0,0,0,0.5);
    /*box-shadow:inset 1px 1px 0 #fff, 0 0 4px rgba(0,0,0,0.3);*/
}

/* active state */
input[type="radio"]:active:not(:disabled),
input[type="checkbox"]:active:not(:disabled) {
    background-image: -webkit-linear-gradient(#fff, #fff);
    /*box-shadow:inset 1px 1px 0 rgba(0,0,0,0.2), inset -1px -1px 0 rgba(255,255,255,0.6);*/
    border-color:rgba(0,0,0,0.5);
}

/* focus state */
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline:none;
 /*   box-shadow: 0 0 1px 2px rgba(0, 240, 255, 0.4);*/
}

/* input checked border color */
input[type="radio"]:checked,
input[type="checkbox"]:checked {
    border-color:rgba(0, 0, 0, 0.5)
}

/* radio checked */
input[type="radio"]:checked:before {
display: block;
height: 6px;
width: 6px;
position: relative;
left: 4px;
top: 4px;
background: rgba(0, 0, 0, 0.7);
border-radius: 100%;
content: '';
}

/* checkbox checked */
input[type="checkbox"]:checked:before {
font-weight: bold;
color: rgba(0, 0, 0, 0.7);
content: '';
-webkit-margin-start: 0;
margin-left: 2px;
font-size: 0.9em;
background:url(../images/sprite.png) -488px -139px no-repeat;width: 16px; height: 16px;display: inline-block;
}

/* disabled input */
input:disabled {
opacity: .6;
box-shadow: none;
background: rgba(0, 0, 0, 0.1);
box-shadow:none;
}

/* style label for disabled input */
input:disabled + label {
opacity: .6;
cursor:default;
-webkit-user-select: none;
}


/*Header top sticky*/
#topNavmain.affix { top: 0; left: 0; right: 0;    z-index: 1040;}
#topNavmain.affix  .topsearchbar, #topNavmain.affix  .logo {    margin-top: 6px;}
#topNavmain.affix .cartcounter, #topNavmain.affix  .signinbar, #topNavmain.affix .afterSignin, #topNavmain.affix .shoppinglistbar {padding:  7px;min-height: 60px;}
 
 
/*set a border on the images to prevent shifting*/

 
.imglarge { border:1px solid #ccc; margin-bottom:8px;  width: 100%; position:relative;overflow: hidden;}
.imglarge img{ width: 100%;  }
@media (max-width: 767px){.imglarge { width:250px; border:none; }}
#gallery_01 img {width:50px;border: 1px solid #ccc}

/*Change the colour*/
#gallery_01 .active img { border: 1px solid #ff7403 !important;}
@media (min-width: 768px){.bulkorderpop { position:inherit}.bulkorderpop .prodctPricehld  { top: auto; left: auto;} }

.bulkorderpop a{ color:#3399ff; font-size:12px; margin-top:8px; display:inline-block}
.bulkorderpop .prodctPricehld  {width:315px; padding: 6px;  }
.bulkorderpop .prodctPricehld .qutyperprice {font-size: 11px;    color: #000;}
.bulkorderpop .prodctPricehld li {    width: 100px; min-height:auto}
.bulkorderpop .prodctPricehld li .productwrapper .perPiece { font-size: 14px;}

.innerpage { background:#fff; padding:30px;}

.productCompare { }
.productcomparetbl td ,.productcomparetbl th{ width:25%;}
.comparebox { position:relative; text-align:center; }
.comparebox { background:#fff; box-shadow:0px 0px 8px #b5b5b5; padding:10px;  margin-bottom: 10px;}
.comparebox:hover { box-shadow:0px 0px 8px #969696;}
.comparebox .glyphicon-remove{right: 4px; cursor:pointer; position: absolute; top:8px; color:#b9b9b9;}
.comparebox .glyphicon-circle-arrow-down { color:#8c8c8c; font-size:18px;}
.comparebox h4 { font-size:16px; color:#3b658c; line-height: 20px;}
.comparebox p { margin-bottom:20px;    }
.comparebox img{ width:60%;display: inline-block;/*border: 1px solid #efefef;*/}
.productcompareimg td ,.productcompareimg th{ border:none!important}
.selectedcomparetext{ MARGIN-TOP: 30%; font-size: 16px;font-weight: normal; color: #999; text-align: center;}
.selectedcomparetext a{margin-top: 8%;line-height: 30px;display: block; font-size: 15px;color: #999;}
.selectedcomparetext .backarroworange  { background-position:-82px -233px; width:23px; height:20px; margin-right: 5px;vertical-align: middle;}
.productcomparetbl .pricehld .btn { display:block;padding:8px 12px; font-size: 16px; min-width: 150px; margin: 15px 0 ;}
.table-striped.productcomparetbl td{    border-right: 1px solid #ddd; border-top: transparent;  }
.table-striped.productcomparetbl th {border-right: 1px solid #ddd;border-left: 1px solid #ddd;border-top: transparent;}
.table-striped.productcomparetbl {border-bottom: 1px solid #ddd; }
@media (min-width:1200px){ .selectedcomparetext{font-size: 22px;}.table-striped.productcomparetbl td,.table-striped.productcomparetbl th  { padding: 12px 15px;}
}
.productcomparetbl.table-striped>tbody>tr:nth-of-type(odd) { background-color: #f5f5f5;}
.imgcompare {  }
.imgcompare td{ background:#fff!important; border-bottom:1px solid #ddd; border-left:none!important; border-right:none!important; border-top:none!important; }

/*main Categoriy*/
.maincategorybanner .categorieslink h2{ background:#ff7403; -webkit-box-shadow: 0px 4px 5px #e76a04 inset; -moz-box-shadow: 0px 4px 5px #e76a04 inset; box-shadow: 0px 4px 5px #e76a04 inset;}
.catimg { background:#dbdcdd; height:444px}
.catimg ul { background:#fff;margin: 20px;}
.catimg li {    padding: 12px 10px ; width: 25%; display: inline-block;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd; float: left; background: #fff;    text-align: center;}
.catimg .productwrapper .product-name { font-size: 14px;}
.catimg li img{ width:62%; display: inline-block; }
.catimg .productwrapper { margin-bottom:0;padding-bottom: 0;}

.shoppingdetailswrap .productdtlspecify{ margin-bottom:30px;}
.shoppingdetailswrap .proddtlright {border-left: none;}
.shoppingdetailswrap .proddtlSellerInfo { margin-top:0px;}
.shoppingdetailswrap .pricehld .btn { width:100%}
.shoppingdetailswrap .tab-content { overflow-y:auto; max-height:300px;min-height:300px;width: 100%;}

/*-----Offer section -----*/
.offersection{
	background-color:#fff;
}
.offersection .box-heading{
	text-align:center;
	padding:12px;
	background-color:#3b658c;
}
.offersection .box-heading h2{
	font-size:20px;
	margin:0px;
	text-transform:uppercase;
}
.offersection .box-content{
	padding:25px 100px;
}
.offersection .box-content .box-data{
	border:1px solid #ccc;
	text-align:center;
	margin:25px 10px;
	padding:5px 30px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.offersection .box-content .box-data p, .offersection .box-content .box-data a{
	color:#999999;
	margin-bottom:5px;
}
.offersection .box-content .box-data h2{
	margin:0px;
	font-size:26px;
	font-weight:bold;
	text-transform:uppercase;
}
.offersection .box-content .box-data hr{border-color:#ccc; margin:10px 0;}
.offersection .box-content .box-data h4{
	font-size:14px;
	line-height:20px;
	color:#3b658c;
}
.modal-dialog {
    width: 800px;
   /* margin: 14.3% auto 0;*/
}
@media(max-width: 768px){
	.modal-dialog {
		width: 600px;
	}
}
.modal-content{
	border-radius:0px;
}
.offerSec button{
	font-size: 13px;
	font-weight: 500;
	padding-top: 7px;
}
.offerSec .modal-header{font-size:20px; text-transform:uppercase; font-weight:bold;}
.offerSec ol{
	padding-top:15px;
}
.offerSec ol li{
	margin-bottom:5px;
}
/*----Floating Offer-----*/
.offerPrdDetails{
	position:fixed;
	top:0px;
	background-color:rgba(0,0,0,0.6);
	height:100%;
	width:100%;
	z-index:99999;
	padding:0px;
	display:none;
	left:0;
}
.offerPrdDetails .offerRemove{
	position:absolute;
	top:18px;
	font-size:15px;
	color:#fff;
	right:10px;
}
.offerPrdDetails .offerBlock{
	height:100%;
	background-color:#eaeaea;
	width:375px;
	float:right;
	margin-top:0px;
}
.offerPrdDetails .offerBlock .box-heading{
	text-align:left;
	padding: 15px 25px;
	background-color:#3b658c;
}
.offerPrdDetails .offerBlock .box-heading h4{
	font-size:20px;
	margin:0px;
	text-transform:uppercase;
}
.offerPrdDetails .offerBlock .box-content{
	padding:5px 0px;
	position:relative;
	overflow:scroll;
	height:100%;
}
.offerPrdDetails .offerBlock .box-data{
	padding:10px 0px 15px;
	border-bottom:1px solid #ccc;
	margin:10px;
}
.offerPrdDetails .offerBlock .box-data .coupon-block{
	border:1px solid #ccc;
	text-align:center;
	padding:15px 10px;
	background-color:#fff;
}
.offerPrdDetails .offerBlock .box-data .coupon-block p{
	color:#999999;
	margin-bottom:5px;
}
.offerPrdDetails .offerBlock .box-data .coupon-block h2{
	margin:0px;
	font-size:24px;
	font-weight:bold;
	text-transform:uppercase;
}
.offerPrdDetails .offerBlock .box-data a{
	color:#109efe;
	margin-bottom:5px;
}
.offerPrdDetails .offerBlock .box-content h4{font-size:20px; text-transform:uppercase; padding: 15px 10px; display:block; font-weight:bold; margin-bottom:0px;}
.offerPrdDetails .offerBlock .box-content h4 span{font-size:9px; padding-top:8px;}
.offerPrdDetails .offerBlock .box-content hr{border-color:#ccc; margin-top:0px; margin-left:10px; margin-right:10px;}
.offerPrdDetails .offerBlock .box-content h5{font-size:15px; text-transform:capitalize; padding: 5px 10px 15px; display:block; font-weight:bold; margin-bottom:0px;}
.offerPrdDetails .offerBlock .box-content ol{margin-bottom:50px;}
/*-----See All Page------*/
.see_all{background-color:#fff; z-index:100;}
.see_all .box-heading{padding: 0px 25px;}
.see_all .box-heading h3{
	text-transform:uppercase;
	line-height:40px;
	border-bottom:1px solid #ccc;
	font-size:18px;
}
.see_all .SeeAll_Slider{margin:0px 0 10px 0;}
.see_all .rec-industry-list .productwrapper {
    background: #fff;
    display: inline-block;
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	text-align:left;
	width: 100%;}
.see_all .item{margin-right:10px;}
.SeeAll_Slider .content .panel-group{ padding:10px 0 10px 30px; margin-bottom:0px;}
.SeeAll_Slider .content .panel-group .panel{border-radius:0px; border:none !important; -webkit-box-shadow: none;
box-shadow: none;}
.SeeAll_Slider .content .panel-group .panel + .panel {
    margin-top: 0px;
}
.SeeAll_Slider .content .panel-group .panel-heading {
    color: #333;
    background-color: #fff;
	border-color:#fff;
	padding:10px;
}
.SeeAll_Slider .content .sub_div{border-right:1px solid #ccc; border-top:transparent !important;}
.SeeAll_Slider .content .main_div{border-right:1px solid #ccc; border-top:1px solid #ccc;}
.SeeAll_Slider .content .last{border-right:transparent !important;}
.SeeAll_Slider .content .panel-group .panel-heading .panel-title{font-size:14px; font-weight:200; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 150px;}
.SeeAll_Slider .content .panel-group .panel-body{border-top-color:transparent !important; padding-top:0px;}
.SeeAll_Slider .content .panel-group .panel-body ul li{padding-bottom:5px; padding-left:10px;}

.SeeAll_Slider .content .panel-group .panel-body ul li a{color:#999999; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100px;}

/*mylist */
.mylistwrap .othervarientbl{  margin-top: 0px;}
.mylistoption li{ display: inline-block;color: #ff7403;font-size: 14px;margin-left: 10px;border-left: 1px solid #dadada;padding-left: 15px; cursor:pointer}
.mylistoption li:first-child{border-left: 0px solid #dadada; }
.mylistoption { text-align:right; margin:10px 0 20px; }
.mylistoption img{  margin-right:8px ; }

.mylisttotal button{ width:100%; font-size:18px;}
.mylisttotal ul{ font-size:0px; margin-bottom:30px; }
.mylisttotal li{display: inline-block; text-align: center; padding: 10px; border: 1px solid #ddd;  width: 50%;}
.mylisttotal li:first-child {width: 40%;}.mylisttotal li:last-child {width: 60%;}
.mylisttotal li b{ font-size:24px; display:block;}
.mylisttotal li p{ font-size:13px; margin: 0 0 2px;}

.SeeAll_Slider .content .panel-group .panel-body ul li a{color:#999999; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100px;}
/*-----Error Page------*/
.Error404{
	background-image:url(../images/404_error.jpg);
	background-size:cover;
	text-align:center;
	padding:120px 0;
}
.Error404 h1{
	font-size:100px;
	font-weight:bolder;
}
.Error404 h2{
	font-size:50px;
	font-weight:bolder;
}

/*-----Product Listing page------*/
.productResultCount { text-align:center; padding:20px; display:none}

/*-----Cancel Request Page------*/
.cancelRequest{background-color:#fff;}
.cancelRequest .block1 .sub_block{border:1px solid #ccc; height:180px;}
.cancelRequest .block1 h3{font-size:18px; padding:15px 20px; margin:0px; background-color:#f5f6f8; font-weight:bold;}
.cancelRequest .block1 .sub_block .tableData, .cancelRequest .block1 .sub_block1 .tableData{margin:20px 40px 20px 20px;}
.cancelRequest .block1 .sub_block table td{vertical-align:top;}
.cancelRequest .block1 .sub_block table td h5{font-weight:bold; font-size:16px; margin-bottom:15px;}
.cancelRequest .block1 .sub_block ul.productList{width:100%;}
.cancelRequest .block1 .sub_block ul.productList li{width:50%; display:inline; padding-right:25%; font-weight:bold;}
.cancelRequest .block1 .sub_block .tableData ul li{font-weight:bold; margin-bottom:3px;}

.cancelRequest .block1 .sub_block1{border:1px solid #ccc;}

.product_color {  margin: 0; display: inline-block; padding: 0;}
.product_color li { width: 16px; height: 16px; display: inline-block; margin-right: 6px; background: #000; border-radius: 21px; -webkit-border-radius: 21px; -moz-border-radius: 21px;  vertical-align: middle; border: 1px solid #B6B5B5;}
.productret { border:1px solid #ddd; overflow:hidden; }
.productret .product_color { margin-top:40px;margin-top: 28px; margin-left: 20px;}


/*faq*/
.card {background-color: #f6f6f6;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 0 1px 2px 0 #ccc;-moz-box-shadow: 0 1px 2px 0 #ccc;box-shadow: 0 1px 2px 0 #ccc;padding: 20px 20px 20px 20px;}
.faqwrap .categoriesfilter li{ margin-bottom: 10px; border-bottom: 1px solid #ddd;  padding-bottom: 10px;}
.faqwrap .categoriesfilter li ul li {border-bottom: 0px ;padding: 0;margin: 0;    min-height: 20px;}
.faqwrap .categoriesfilter .subdropdown { font-weight:normal; color:#000;  }
.faqwrap .categoriesfilter   ul li{ color:#717171;}
.faqwrap .filter-options.closed .filteroption { }
.faqwrap .filter-options { margin-bottom:8px;}
.faqwrap .categoriesfilter  .closed .subdropdown:before { background-position:-414px -4px;    transform: rotate(0deg);}
.faqwrap .categoriesfilter .subdropdown:before {background-position:-414px 0px;    transform: rotate(90deg);}
.faqwrap .filter-options .tname { background:#666666;    color: #fff;}
.faqwrap .filter-options.closed .tname {background: #f6f6f6; color:#3b6489}
.faqwrap .categoriesfilter ul { margin-top: 16px;}
.faqwrap .filter-options .tname span { margin-top: 10px;}
.faqwrap .tname i{ background:url(../images/sprite_acc.png) no-repeat 0 0; width: 40px;height: 34px;display: inline-block; vertical-align: middle;margin-right: 10px;}

.faqwrap .filter-options.closed .tname i.faqordericn{ background-position:0px -253px;}
.faqwrap .filter-options.closed .tname i.faqcanicn{ background-position:0px -293px;}
.faqwrap .filter-options.closed .tname i.faqpaymenticn{ background-position:0px -390px;}
.faqwrap .filter-options.closed .tname i.faqshoppingicn{ background-position:0px -437px;}
.faqwrap .filter-options.closed .tname i.faqwarrentyicn{ background-position:0px -349px;}

.faqwrap .filter-options .tname i.faqordericn{ background-position:-49px -253px;}
.faqwrap .filter-options .tname i.faqcanicn{ background-position:-49px -293px;}
.faqwrap .filter-options .tname i.faqpaymenticn{ background-position:-49px -393px;}
.faqwrap .filter-options .tname i.faqshoppingicn{ background-position:-49px -437px;}
.faqwrap .filter-options .tname i.faqwarrentyicn{ background-position:-49px -349px;}
.faqwrap dt { padding-left: 15px; position: relative; margin-bottom: 10px;line-height: 18px;}
.faqwrap dt:before { content:'*'; position:absolute; left:0; }

.content-ord .btn{ min-width:100px;}
.content-ord .form-control{  width:150px;margin: 0 auto}

.titleh {margin: 0px 0 20px; text-align: center; font-size: 27px;background: #fff;    padding: 30px 0;}
.makingpaymentwrap h2{font-size: 18px;margin: 0 0 10px;}
.makingpaymentwrap .optin { }
.makingpaymentwrap .optin h3{ font-size:16px; color:#3b658c; text-transform: uppercase;margin-bottom: 5px; font-weight: bold;}
.makingpaymentwrap .optin p{ font-size:15px; color:#a9a9a9;}
.makingpaymentwrap .optin li { border-bottom:1px solid #e8e8e8;    padding: 8px 0;}
.makingpaymentwrap .optin li:last-child { border-bottom:0px solid #e8e8e8; }
.makingpaymentwrap .bgwhite { padding:40px;}

.innercontent  { min-height:500px;}

.parcelwrap { background:#f9f9f9; padding:10px 20px; border:1px solid #ccc; margin-bottom:10px;}
.parcelwrap h4{ font-weight: 700;margin-bottom: 20px;}

.outstocksel { width:150px;	 display: inline-block;}

.smallpopup .modal-dialog{ width: 350px;}

.buyerprotectionwrap .buyerprotections { color:#8d8d8d;}
.buyerprotectionwrap h5{ color:#8d8d8d; font-weight:bold; font-size:16px; margin-bottom: 20px;}
.buyerprotectionwrap h2{padding: 15px 0 20px; font-size:23px }

.buyerprotectionwrap .sellertabcontain { padding: 15px 0;}



