@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
.content-wrapper{background-color:#fff !important;}
.pl25{padding-left:25px !important;}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb60{margin-bottom:60px !important}
.darkbluebtn{background:#175594; color:#fff;}
.darkbluebtn:hover,.darkbluebtn:active,.darkbluebtn:focus { background:#08417b; color:#fff; }

.greenbtn{background:#34a853; color:#fff;}
.greenbtn:hover,.greenbtn:active,.greenbtn:focus { background:#1b8136; color:#fff; }

.pinkbtn{background:#ffebb6; color:#000; border:1px solid #fac163;}
.pinkbtn:hover,.pinkbtn:active,.pinkbtn:focus { background:#ecd9a6; color:#000; }

.bluedarkbtn{background:#0099ff; color:#fff;}
.bluedarkbtn:hover,.bluedarkbtn:active,.bluedarkbtn:focus { background:#0568a9; color:#fff; }

.greendarkbtn{background:#1C7E00; color:#fff;}
.yellowdarkbtn{background:#fc0; color:#fff;}
.reddarkbtn{background:#f00; color:#fff;}
.reddarkbtn:hover,.reddarkbtn:active,.reddarkbtn:focus { background:#f00; color:#fff; }

.whitebtn{background:#fff; color:#999; border:1px solid #999;}
.whitebtn:hover,.whitebtn:active,.whitebtn:focus { background:#f4f4f4; color:#999; }
.mtb10 { margin:10px 0} 
.m0 {margin: 0px!important;}.mt0 {margin-top: 0px!important;}.ml0 {margin-left: 0px!important;}.mr0 {margin-right: 0px!important;}.mb0 {margin-bottom: 0px!important;}
.m10 { margin:10px;}.m20 { margin:20px!important;}
.mt10 {	margin-top: 10px!important;}.ml10 {margin-left: 10px!important;}.mr10 {	margin-right: 10px!important;}.mb10 {	margin-bottom: 10px!important;}
.mt20 {margin-top: 20px!important;}.ml20 {margin-left: 20px!important;}.mr20 {	margin-right: 20px!important;}.mb20 {	margin-bottom: 20px!important;}
.mtb20 { margin:20px 0}

.p0 {padding: 0px!important;}.pt0 {padding-top: 0px!important;}.pl0 {padding-left: 0px!important;}.pr0 {padding-right: 0px!important;}.pb0 {padding-bottom: 0px!important;}
.p20 { padding:20px !important;}
.p10 { padding:10px !important;}
.pt15{padding-top:15px;}
.plr10{padding-left:10px; padding-right:10px;}
.mlr10{margin-left:10px; margin-right:10px;}
.blacktext { color:#000}
.bluetext { color:#3b658c}
.greentext { color:#24b83c}
.redtext { color:#eb2712}
.orangetext { color:#ff7403}
.graytext {color:#909090}

.border-btm{ border-bottom:1px solid #707070;}

.orangebtn { background:#ff7403; color:#fff; }
.orangebtn:hover,.orangebtn:active,.orangebtn:focus { background:#ff5603; color:#fff; }

.lightgraybtn{background:#cccccc; color:#000;}
.lightgraybtn:hover,.lightgraybtn:active,.lightgraybtn:focus { background:#BFBFBF; color:#000; }

.bluebtn { background:#3b658c; color:#fff; }
.bluebtn:hover,.bluebtn:active,.bluebtn:focus { background:#254d71; color:#fff; }

.darkgraybtn { background:#606060; color:#fff; }
.darkgraybtn:hover,.darkgraybtn:active,.darkgraybtn:focus { background:#4E4C4C; color:#fff; }

.rbrd{border-right:2px solid #dde1e4;}
.lbrd{border-left:2px solid #dde1e4;}
.tbrd{border-top:2px solid #dde1e4;}
.bbrd{border-bottom:2px solid #dde1e4;}

.bg-bluelight{background-color:#e3f0fc; border:1px solid #BEDEFB;}
.bg-greylight{background-color:#f3f3f2;}
.brd{ border:1px solid #ccc;}
/*-----Home Page-----*/
html, body{
	width:100%;
	height:100%;
}
body{
	font-family:"Roboto";
	font-size:14px;
	height:100%;
	background-image:url(../images/bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:6% 10%;
}
.mainSec{
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.9);
	display:table;
	position:relative;
}
.wrapper{
	height:100%;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}
.mainSec .logo img{
	width:200px;
	margin:12% 0 5% 0;
}
.mainSec h4{
	padding:10px 20px;
	line-height:35px;
	letter-spacing:0.3px;
	font-weight:bolder;
}
.mainSec p{
	margin:6% 0 5% 0;
	font-weight:500;
	line-height:25px;
	letter-spacing:0.5px;
	text-align:left;
}
.box2{
	border-left:2px solid #afb0b0;
	padding-left:20%;
	padding-right:20%;
}
.form-control{
	border-radius:0px;
	border:1px solid #999;
	margin-bottom:5px;
}
.btn{
	border-radius:0px;
	width:120px;
	font-weight:bold;
}
.mainSec .box3{
	position:absolute;
	top:23%;
	left:20%;
	display:table;
	width:60%;
	margin:0;
	background-color:#fff;
	padding:3%;
	box-shadow:1px 1px 1px 1px #999;
}
.box3 .box3-content{
	display:table-cell;
	height:100%;
	vertical-align:middle;
	text-align:center;
	padding-left:10%;
	padding-right:10%;
}
.box3 .box3-content p{
	text-align:center;
	font-weight:normal;
}
.box3 .box3-content h3{
	line-height:40px;
}
.close{
	position:absolute;
	top:10px;
	padding-right:5px !important;
	opacity:.6;
}
@media(max-width: 768px){
	.box2{
		border-left:none !important;
	}
	.mainSec .box3 {
		top: 60%;
		left: 15%;
		width: 70%;
	}
	.box3 .box3-content {
		padding-left:0%;
		padding-right:0%;
	}
	.mainSec h4 {
		padding:10px;
	}
}
@media(max-width: 767px){
	.p20{
		padding:10px !important;
	}
	.mainSec .logo img{
		width:150px;
		margin:0% 0 2% 0;
	}
	.mainSec h4{
		font-size:10px;
		line-height:19px;
		padding:0px;
	}
	.mainSec p{
		margin: 5px 0 5px 0;
		font-size:10px;
		line-height:15px;
	}
	.box2{
		border-left:none !important;
		padding: 0px !important;
	}
	.mb20{
		margin-bottom:10px !important;
	}
	.mb40{
		margin-bottom:20px !important;
	}
	.form-group{
		margin-bottom: -3px;
	}
	.form-control{
		font-size:10px;
		height:30px;
	}
	.divider{
		display:none;
	}
	.btn{
		width:100px;
	}
	.box2{
		border-left:none !important;
	}
	.mainSec .box3 {
		top: 60%;
		left: 5%;
		width: 90%;
	}
	.box3 .box3-content {
		padding-left:0%;
		padding-right:0%;
	}
	.mainSec h4 {
		padding:10px;
	}
	.close {
		font-size: 16px;
		top: 5px;
		right: 3px;
	}
}